/**
 * Přechodný soubor pro přejmenování modulů.
 */

.mod-header h3 { padding: 10px 8px 3px 10px; background: url(../_img/arr/06.png) no-repeat right bottom; color: #6b1300; font-size: 17px; line-height: 20px; text-transform: uppercase; border-bottom: 2px solid #6b1300; font-family: 'OfficinaSanItcTBold', sans-serif; }

/* Nejoblíbenější dřevostavby z katalogu */
.mod_mt_listing_plus-hp-drevostavby{ margin: 0 0 2px; }
.mod_mt_listing_plus-hp-drevostavby h2{ border-bottom:2px solid #6a7b66; }
.mod_mt_listing_plus-hp-drevostavby h2 span{ display: inline-block; border-left:2px solid #6a7b66; border-top:2px solid #6a7b66; padding: 5px 0 2px 10px; font-size: 17px; color:#283825; text-transform: uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_mt_listing_plus-hp-drevostavby .items{ *zoom:1; width:577px; margin:0 0 8px -5px; padding: 9px 0 0; }
.mod_mt_listing_plus-hp-drevostavby .items:before,.mod_mt_listing_plus-hp-drevostavby .items:after{ display:table; content:""; }
.mod_mt_listing_plus-hp-drevostavby .items:after{ clear:both; }
.mod_mt_listing_plus-hp-drevostavby .items img{ float: left; margin: 0 0 2px 5px; border:1px solid #e4d7b0; }
.mod_mt_listing_plus-hp-drevostavby .items a:hover img{ border-color: #6a7b66; }
.mod_mt_listing_plus-hp-drevostavby p.more{ text-align: right; padding: 0 13px; }
.mod_mt_listing_plus-hp-drevostavby p.more a{ font-weight: bold; color:#283825; }

/* Reklama */
.mod_custom-reklama{ padding: 22px 0 20px 0; }
.mod_custom-reklama .mod-title, .mod_custom-reklama .mod-header h3{ font-size: 17px; line-height: 19px; padding: 0 0 5px 10px; margin: 0 0 22px; border-bottom: 2px solid #6a7b66; text-transform: uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-reklama .mod-title a, .mod_custom-reklama .mod-header h3 a{ float: right; font-size: 11px; font-weight: bold; text-transform: none; font-family:Arial,Helvetica,sans-serif; }
.mod_custom-reklama .item{ *zoom:1; margin:0 0 25px; font-size: 11px; }
.mod_custom-reklama .item:before,.mod_custom-reklama .item:after{ display:table; content:""; }
.mod_custom-reklama .item:after{ clear:both; }
.mod_custom-reklama h3{ margin: 0 0 3px; font-size: 12px; }
.mod_custom-reklama .thumbnail {width: 86px; text-align: center; float: left; margin: 0 10px 0 0}
.mod_custom-reklama p{ margin: 0 0 5px;}
.mod_custom-reklama .url{ font-weight: bold; margin-bottom: 10px;}

/* Menu Dřevostavby */
.mod_mainmenu-drevostavby .mod-header h3 { padding:15px 8px 11px 12px; background-color:#ffd477; }
.mod_mainmenu-drevostavby .mod-inside{ background:#ffd477; color:#fff; margin:0 0 12px 0; padding:12px; }
.mod_mainmenu-drevostavby hr{ margin:10px 0 10px 0; padding:0; border:0; height:0; background:none; border-top:1px solid #283825; }
.mod_mainmenu-drevostavby ul.menu{ padding: 7px 0 0 0; }
.mod_mainmenu-drevostavby ul.menu li{ margin:0 0 9px; padding: 0 0 0 16px; background: url(../_img/arr/06.png) no-repeat 0 2px; }
.mod_mainmenu-drevostavby ul.menu>li.act{ background-image: url(../_img/arr/16.png); }
.mod_mainmenu-drevostavby ul.menu a{ font-size: 14px; line-height: 15px; color: #283825; text-transform: uppercase; text-decoration: none; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_mainmenu-drevostavby ul.menu a:hover{ text-decoration: underline; }
.mod_mainmenu-drevostavby ul.menu ul{ padding: 10px 0 3px 0; }
.mod_mainmenu-drevostavby ul.menu ul li{ padding: 0 0 0 10px; margin: 0 0 2px; background: url(../_img/arr/15.png) no-repeat 0 5px; }
.mod_mainmenu-drevostavby ul.menu ul a{ font-size: 11px; line-height: 13px; color: #6b1300; text-transform: none; font-family:Arial,Helvetica,sans-serif; }
.mod_mainmenu-drevostavby ul.menu ul li.act>a{ font-weight: bold; color: #283825; }

/* Akce */
.mod_custom-akce .mod-inside{ margin:0 0 20px 0; padding:12px 0; }
.mod_custom-akce dl.cal-events{ line-height:14px; padding:0 10px; }
#ie6 .mod_custom-akce dl.cal-events{ height:243px; }
.mod_custom-akce dl.cal-events a{ color:#4f5c4c; }
.mod_custom-akce dl.cal-events dt{ font-weight:bold; }
.mod_custom-akce dl.cal-events dd{ padding:0 0 12px 0; }
.mod_custom-akce .more a{ display: inline-block; height: 30px; line-height: 30px; padding:0 20px; font-weight:bold; font-size:11px; color:#fff; text-decoration:none; background:#6a7b66; }
.mod_custom-akce .more a:hover{ background: #6b1300; }

/* Bannery */
.mod_banners-partners .mod-inside{ margin:0 0 20px 0; padding:12px 0; }
.mod_banners-partners hr{ margin:10px 0 10px 0; padding:0; border:0; height:0; background:none; border-top:1px solid #d2d7d1; }
.mod_banners-right ul{margin:0 0 7px 0;}
.mod_banners-right ul li{margin:0 0 5px 0;}

/* Anketa */
.mod_poll .mod-header h3 { margin: 0 0 16px; }

/* Diskuze */
.mod_kunena-latest{ margin:  0 0 10px; }
.mod_kunena_latest .mod-header h3 { padding:19px 0 0 10px; color:#6b291b; line-height:19px; background: none; }
.mod_kunena_latest .mod-header h3 a { display:block; text-decoration:none; padding:0 0 4px 0; background:url(../_img/arr/17.png) no-repeat right bottom; }
.mod_kunena_latest .mod-inside ul{ padding:16px 10px 8px 10px; font-size:12px; }
.mod_kunena_latest .mod-inside ul li{ margin: 0 0 13px; }
.mod_kunena_latest .mod-inside ul a{ font-weight: bold; }
.mod_kunena_latest .mod-inside ul a.username{ font-weight: normal; }

/* Soutěže a ankety */
.mod_custom-souteze { margin: 10px 0 0 0; padding: 0; }
.mod_custom-souteze .mod-inside { margin: 0 0 20px 0; padding: 16px 15px 1px 15px; }

/* Top návštěvníci webu */
.mod_custom-topnavstevnici .mod-inside{ margin: 0 0 20px 0; padding: 12px 0 0 10px; }

/* Nejhledanější výrazy */
.mod_custom-nejhledanejsi { margin-top: 36px; }
.mod_custom-nejhledanejsi .mod-inside { margin: 0 0 20px 0; padding: 12px 0; }

/* Slovníček pojmů */
.mod_custom-slovnicek-pojmu .mod-inside { margin: 0 0 20px 0; padding: 12px 0; }