/* CSS Document */

/* css reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;min-height:0;}
table,tr,th,td{vertical-align:top;}
ul,ul li,menu,menu li{margin:0;padding:0;list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del{text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
input,textarea{font-family:Arial,Helvetica,sans-serif;font-size:100%;}
/* IE stretched buttons fix */
input.submit{width:0;overflow:visible;}
input.submit[class]{width:auto;}
/* css reset end */ 
/* font */
@font-face{font-family:'OfficinaSanItcT';src:url('../font/o016013t-webfont.eot');src:url('../font/o016013t-webfont.eot?#iefix') format('embedded-opentype'),url('../font/o016013t-webfont.woff') format('woff'),url('../font/o016013t-webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face{font-family:'OfficinaSanItcTBold';src:url('../font/o016016t-webfont.eot');src:url('../font/o016016t-webfont.eot?#iefix') format('embedded-opentype'),url('../font/o016016t-webfont.woff') format('woff'),url('../font/o016016t-webfont.ttf') format('truetype'),url('../font/o016016t-webfont.svg#OfficinaSanItcTBold') format('svg');font-weight:bold;font-style:normal;}
/* elements */
body{font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#4f5c4c;text-align:center;background:#fff;}
a{color:#771c0b;}
a:hover{text-decoration:none;}
.r{text-align:right !important;}
.c{text-align:center !important;}
.l{text-align:left !important;}
.j{text-align:justify !important;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
#ie6 .cleaner{height:1px;margin:0 0 -1px 0;}
.nodisplay{display:none;}
.capitalize{text-transform:capitalize!important;}
.uppercase{text-transform:uppercase!important;}
.lowercase{text-transform:lowercase!important;}
.transform-none{text-transform:none!important;}
.big{font-size:150%;}
/* layout */
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.row{*zoom:1;margin: 0 0 0 -20px;}
.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
.col3,.col6,.col9{float: left;margin: 0 0 0 20px;}
.col3{width: 234px;}
.col6{width: 488px;}
.col9{width: 742px;}
div.page{position:relative;width:1046px;margin:0 auto 70px;text-align:left;}
div.wrapper{*zoom:1;position:relative;background:#fff;padding:0 25px;-webkit-box-shadow:0 0 4px #bbb;-moz-box-shadow:0 0 4px #bbb;box-shadow:0 0 4px #bbb;}
div.wrapper:before,div.wrapper:after{display:table;content:"";}
div.wrapper:after{clear:both;}
div.colCenter{position:relative;width:784px;float:right;padding:15px 0 0;z-index:1;background:#fff;margin:0 0 40px 0;}
div.colCenter.expandLeft{width: auto;float: none;}
div.container{width:572px;float:left;}
div.colCenter.expandRight div.container{width:784px;}
div.colCenter.expandLeft div.container{width:724px;}
div.colCenter.expandLeft div.container .subpage{padding-left: 0;padding-right: 0;}
div.colRight{position:relative;width:200px;float:right;margin:0 0 40px 0;}
div.colLeft{position:relative;width:200px;float:left;padding:15px 0 70px;margin:0 0 40px 0;}
div.colCenter.expandLeft div.colRight{width:250px;}
div.skyscraper{position:absolute;right:-137px;top:287px;}
div.skyscraper li{margin:0 0 16px 0;}
div.skyscraper-left-top{position:absolute;left:-137px;top:287px;}
div.skyscraper-left-top li{margin:0 0 10px 0;}
div.colContainer{background:#fff;position:relative;z-index:1;}
/* header */
div.header0{*zoom:1;margin: 14px 0 16px;}
div.header0:before,div.header0:after{display:table;content:"";}
div.header0:after{clear:both;}
div.header0 .topmenu{*zoom:1; float: right;}
div.header0 .topmenu:before,div.header0 .topmenu:after{display:table;content:"";}
div.header0 .topmenu:after{clear:both;}
div.header0 .topmenu li{ position:relative; float:left; line-height: 31px; padding: 0 0 0 17px; margin: 0 0 0 15px; }
div.header0 .topmenu li:first-child{ margin-left: 0; padding-left: 0; }
div.header0 .topmenu li:before{ position: absolute; content: ''; left: 0; top: 20%; width: 1px; height: 60%; background: #d0d9ce; }
div.header0 .topmenu li:first-child:before{ display: none; }
div.header0 .topmenu li a{ position:relative; font-size:12px; color:#283825; }

div.header0 .search{*zoom:1; width: 232px; float: right; margin: 0 0 0 30px;}
div.header0 .search:before,div.header0 .search:after{display:table;content:"";}
div.header0 .search:after{clear:both;}
div.header0 .search input.search-input{ float: left; margin:0; padding:7px 10px; border:1px solid #d0d9ce; height:15px; width:180px; background:#fff; color:#4f5c4c; font-size:12px; -webkit-box-shadow: inset 0 1px 4px #ddd; -moz-box-shadow: inset 0 1px 4px #ddd; border-box-shadow: inset 0 1px 4px #ddd; }
div.header0 .search input.search-input:hover,div.header0 .search input.search-input:focus{ background:#f0f2ef; }
div.header0 .search input.search-button{ float: right; margin: 4px 0; padding:7px 10px; border:0; height:22px; width:22px; background:url(../_img/btn/02.png) no-repeat; cursor:pointer; }
div.header0 .search input.search-button:hover{ background-position:bottom; }

div.header0 .menu-icons{float: right;padding: 5px 0 0 16px;}
div.header0 .menu-icons ul{*zoom:1;border-left: 1px solid #d0d9ce;}
div.header0 .menu-icons ul:before,div.header0 .menu-icons ul:after{display:table;content:"";}
div.header0 .menu-icons ul:after{clear:both;}
div.header0 .menu-icons ul li{float: left;padding: 0 0 0 19px;}
div.header0 .menu-icons ul li img{display: block;}

div.header1{ *zoom:1;position:relative; z-index: 999; padding: 20px 0 0; }
div.header1:before,div.header1:after{display:table;content:"";}
div.header1:after{clear:both;}
div.header1 .logo{ position: relative; float: left; font-size:24px; width:239px; height: 73px; margin: 2px 5px 16px 12px;}
div.header1 .logo img{ position:absolute; top:0; left:0; max-width: 100%; height: auto!important;}
div.header1 .sruby{ float: left; margin: 10px 22px 16px 17px;min-height: 56px;border-left:2px solid #e6e6e6;}
div.header1 .sruby img{ max-width: 100%; height: auto!important;margin: -8px 0 0 24px;}
div.header1 .slogan{ float: left; width:200px; margin: 10px 0 16px; padding: 0 0 0 25px; min-height: 56px; font-size:20px; line-height:20px; color:#8b2f14; border-left:2px solid #e6e6e6; font-weight:bold; font-family:'OfficinaSanItcTBold',sans-serif; }
div.header1 .facebook-header{position:absolute;top:223px;left:654px;}
div.header1 .facebook-header a{color:#fff;font-weight:bold;text-decoration:none;}
div.header1 .facebook-header a:hover{text-decoration:underline;}
div.header1 .facebook-header img{display:block;margin:5px 0 0 0;}
div.header1 .breadCrumbs{position:absolute;bottom:13px;left:24px;width:605px;height:14px;}
div.header1 .breadCrumbs li{float:left;color:#fff;font-size:11px;line-height:11px;font-weight:bold;padding:0 10px;background:url(../_img/arr/01.png) no-repeat left;}
#ie6 div.header1 .breadCrumbs li{background:url(../_img/arr/01.gif) no-repeat left;}
div.header1 .breadCrumbs li a{color:#fff;}
div.header1 .casopis{position:absolute;top:61px;left:634px;}
div.header1 .casopis a{position:relative;display:block;width:364px;height:130px;text-decoration:none;overflow:hidden;}
div.header1 .casopis a img{position:absolute;top:0;left:0;}
div.header1 .casopis a:hover img{position:absolute;top:-130px;left:0;}
div.header1 .casopis span{display:block;position:relative;cursor:pointer;}
div.header1 .casopis span.title{font-size:19px;line-height:19px;font-weight:bold;color:#006482;padding:32px 0 4px 40px;width:130px;font-family:'OfficinaSanItcTBold',sans-serif;}
div.header1 .casopis span.more{font-size:11px;font-weight:bold;padding:0 0 0 40px;width:130px;text-decoration:underline;}
div.header1 .casopis span.more:hover{text-decoration:none;}
.content-header{border-bottom: 2px solid #fbc707;margin: -5px 0 0;}
.content-header .title{font-size: 24px;line-height: 1.2;color: #6b1300; font-weight: bold;font-family:'OfficinaSanItcTBold',sans-serif;}
.content-header .mod_breadcrumbs{margin-left: 0;padding-top: 0;}


/* mods */
.mod_banners-top{ text-align: center; margin: 5px 22px 23px; }
.mod_banners-top .mod-title{text-align: right;font-size: 11px;color: #999;}
.mod_banners-top li{margin: 4px 0;}
.mod_banners-top img{border: 1px solid #6a7b66;max-width: 100%;height:auto!important;}
.mod_custom-casopis { margin: 0 0 20px; }
.mod_custom-casopis .casopis{ padding: 2px 0 4px 0; background: #fbc707; font-weight: bold; color: #283825; text-align: center; }
.mod_custom-casopis .casopis img{ display: block; margin: 0 auto 3px; }
.mod_custom-casopis ul li a{ display: block; border-top:1px solid #fff; color: #fff; font-size: 11px; font-weight: bold; padding: 6px 10px 6px 28px; background: #6a7b66 url(../_img/arr/05.png) no-repeat 13px 11px; }
.mod_custom-casopisy-header{ position: relative; padding: 20px 35px 0 35px; height: 100px; overflow: hidden; }
.mod_custom-casopisy-header ul{ *zoom:1; }
.mod_custom-casopisy-header ul:before,.mod_custom-casopisy-header ul:after{ display:table; content:""; }
.mod_custom-casopisy-header ul:after{ clear:both; }
.mod_custom-casopisy-header ul li{ position: relative; top:45px; margin: 0 -10px 0 0; padding: 0; background: none; float: left; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
.mod_custom-casopisy-header ul li:hover{ top:35px; }
.mod_custom-casopisy-header .item-01{ z-index: 7; top:10px; }
.mod_custom-casopisy-header .item-01:hover{ top:0; }
.mod_custom-casopisy-header .item-02{ z-index: 6; }
.mod_custom-casopisy-header .item-03{ z-index: 5; }
.mod_custom-casopisy-header .item-04{ z-index: 4; }
.mod_custom-casopisy-header .item-05{ z-index: 3; }
.mod_custom-casopisy-header .item-06{ z-index: 2; }
.mod_custom-casopisy-header .item-07{ z-index: 1; }
.mod_custom-casopisy-header .last{ float: right; top:10px; }
.mod_custom-casopisy-header .last:hover{ top:0; }
.mod_custom-casopisy-header ul li a{ position: relative; display: block; padding: 10px 6px 0 0; background: url(../_img/bg/15.png) no-repeat top right; transform: rotate(30deg); -ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); -o-transform: rotate(30deg); -moz-transform: rotate(30deg);}
.mod_newsflash{padding: 10px 0 0;}
.mod_newsflash .news-item{ *zoom:1; padding: 0 0 25px;}
.mod_newsflash .news-item:before,.mod_newsflash .news-item:after{ display:table; content:""; }
.mod_newsflash .news-item:after{ clear:both; }
.mod_newsflash h2{ font-size:30px; line-height: 1; color:#a44a13; padding:0 0 14px 0; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_newsflash .reduced h2{ font-size: 19px; padding: 0 0 6px; }
.mod_newsflash .news-article h2 a{color: #283825;}
.mod_newsflash p{ font-size: 17px; line-height: 24px; }
.mod_newsflash .reduced p{ font-size: 14px; line-height: 19px; }
.mod_newsflash .thumbnail{ *zoom:1; margin: 0 0 10px; }
.mod_newsflash .reduced .thumbnail{ *zoom:1; float: left; margin: 0 21px 0 0; }
.mod_newsflash .thumbnail:before,.mod_newsflash .thumbnail:after{ display:table; content:""; }
.mod_newsflash .thumbnail:after{ clear:both; }
.mod_newsflash .news-article .thumbnail a{background: #8fa689;}
.mod_newsflash .news-article .thumbnail a:hover{background: #6a7b66;}
.mod_newsflash .thumbnail a img{ display: block; max-width: 100%; margin: 0; height: auto!important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
.mod_newsflash a.more{ font-weight: bold; }
.mod_newsflash p.more{ text-align: right; border-top:2px solid #6b1300; margin: 0 0 25px;}
.mod_newsflash p.more .normal-button{ background: #6b1300; text-transform: none; padding: 0 37px; }
.mod_newsflash p.more .normal-button:hover{ text-decoration: underline; }
.mod_newsflash p.more.news-more{border-top-color: #6a7b66;}
.mod_newsflash p.more.news-more .normal-button{background: #6a7b66;}
.publikace-hp{width:577px;margin:0 -5px 14px 0;background:url(../_img/bg/03.png) repeat-y;}
.publikace-hp .mod_custom-publikace-item{width:167px;margin:0 5px 0 0;padding:6px 10px 4px 10px;float:left;text-align:center;font-weight:bold;color:#fff;background:#6b291b;}
.publikace-hp .mod_custom-publikace-item p{font-family:'OfficinaSanItcTBold',sans-serif;}
.publikace-hp .mod_custom-publikace-item a{color:#fbc707;}
.publikace-hp .mod_custom-publikace-item ul{text-align:left;font-size:11px;padding:7px 0;}
.publikace-hp .mod_custom-publikace-item ul li{padding:0 0 2px 16px;background:url(../_img/arr/05.png) no-repeat 3px 2px;}
#ie6 .publikace-hp .mod_custom-publikace-item ul li{background:url(../_img/arr/05.gif) no-repeat 0 2px;}
.module-video{position:relative;height:320px;border:3px solid #6a7b66;margin:0 0 14px 0;}
.module-video h2{color:#fff;background:#6a7b66;font-size:16px;padding:5px 10px 11px 10px;font-family:'OfficinaSanItcTBold',sans-serif;}
.module-video .slideshow-video{position:absolute;top:28px;left:436px;width:116px;height:240px;}
.module-video .slideshow-video ul.tabs{overflow:hidden;width:116px;margin:26px 0 0 0;height:240px;overflow:auto;}
.module-video .slideshow-video ul.tabs li{float:none!important;padding:4px 0 0 0;height:56px;text-align:center;background:url(../_img/bg/04.png) repeat-y;}
.module-video .slideshow-video ul.tabs li img{border:1px solid #fff;}
.module-video .slideshow-video ul.tabs li a:hover img{border:1px solid #a44a13;}
.module-video .slideshow-video .jcarousel-container{width:116px;height:240px;padding:26px 0;}
.module-video .slideshow-video .jcarousel-clip{overflow:hidden;width:116px;height:240px;}
.module-video .slideshow-video .jcarousel-item{width:116px;height:60px;}
.module-video .slideshow-video .jcarousel-next{position:absolute;bottom:5px;left:41px;width:34px;height:18px;cursor:pointer;background:url(../_img/arr/07.gif) no-repeat;}
.module-video .slideshow-video .jcarousel-next:hover,.module-video .slideshow-video .jcarousel-next:focus{background-position:0 -18px;}
.module-video .slideshow-video .jcarousel-next:active{background-position:0 -18px;}
.module-video .slideshow-video .jcarousel-next-disabled,.module-video .slideshow-video .jcarousel-next-disabled:hover,.module-video .slideshow-video .jcarousel-next-disabled:focus,.module-video .slideshow-video .jcarousel-next-disabled:active{cursor:default;background-position:0 -36px;}
.module-video .slideshow-video .jcarousel-prev{position:absolute;top:5px;left:41px;width:34px;height:18px;cursor:pointer;background:url(../_img/arr/08.gif) no-repeat;}
.module-video .slideshow-video .jcarousel-prev:hover,.module-video .slideshow-video .jcarousel-prev:focus{background-position:0 -18px;}
.module-video .slideshow-video .jcarousel-prev:active{background-position:0 -18px;}
.module-video .slideshow-video .jcarousel-prev-disabled,.module-video .slideshow-video .jcarousel-prev-disabled:hover,.module-video .slideshow-video .jcarousel-prev-disabled:focus,.module-video .slideshow-video .jcarousel-prev-disabled:active{cursor:default;background-position:0 -36px;}
.module-video .video_items{position:absolute;top:61px;left:20px;width:391px;height:218px;overflow:hidden;border:3px solid #6a7b66;background:#d6d6d6;}
.module-frontpage{ margin: 0 0 2px; }
.module-frontpage h2{ border-bottom:2px solid #6a7b66; }
.module-frontpage h2 span{ display: inline-block; border-left:2px solid #6a7b66; border-top:2px solid #6a7b66; padding: 5px 0 2px 10px; font-size: 17px; color:#283825; text-transform: uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.module-frontpage .items{ *zoom:1; margin:0 0 8px -4px; padding: 9px 0 0; }
.module-frontpage .items:before,.module-frontpage .items:after{ display:table; content:""; }
.module-frontpage .items:after{ clear:both; }
.module-frontpage-in .item a{text-decoration: none;}
.module-frontpage-in .item { position: relative; overflow: hidden; float: left; margin: 0 0 0 4px;}
.module-frontpage-in .item .overlay {position:absolute;top:0;right:100%;width:130px;height:90px;overflow:hidden;padding: 15px;color:#fff;font-size:11px;line-height:16px;background:url(../_img/bg/14.png) repeat-y;background:rgba(0,0,0,0.7); -webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.module-frontpage-in .item:hover .overlay{right: 0;}
.module-frontpage-in .item .overlay p {font-size:12px;line-height:16px;}
.module-frontpage-in .item p { text-align: left; padding-bottom: 15px; }
.module-frontpage-in .item p strong { text-decoration: underline; }
.module-frontpage-in .item p strong:hover { text-decoration: none; }
.module-frontpage p.more{ text-align: right; }
.module-frontpage p.more a{ font-weight: bold; color:#283825; }
.mod_custom-posledni-pridane-firmy{ margin: 0 0 20px; }
.mod_custom-posledni-pridane-firmy h2{ border-bottom:2px solid #6b1300; }
.mod_custom-posledni-pridane-firmy h2 span{ display: inline-block; border-left:2px solid #6b1300; border-top:2px solid #6b1300; padding: 5px 0 2px 10px; font-size: 17px; color:#6b1300; text-transform: uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-posledni-pridane-firmy .list-items{ *zoom:1; background: #e9d6cd; padding: 0 0 15px; }
.mod_custom-posledni-pridane-firmy .list-items:before,.mod_custom-posledni-pridane-firmy .list-items:after{ display:table; content:""; }
.mod_custom-posledni-pridane-firmy .list-items:after{ clear:both; }
.mod_custom-posledni-pridane-firmy .col-left{ float: left; width:220px; padding: 14px 0 0 48px;}
.mod_custom-posledni-pridane-firmy .col-right{ float: right; width:160px; padding: 14px 23px 0 0;}
.mod_custom-posledni-pridane-firmy div.more{ clear: both; text-align: right; font-weight: bold; padding: 0 14px; }
.mod_custom-posledni-pridane-firmy .list-items ul li{ font-size: 17px; padding: 8px 0 0 0; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-posledni-pridane-firmy .list-items ul li a{text-decoration: none;}
.mod_custom-posledni-pridane-firmy .list-items ul li a:hover{text-decoration: underline;}
.mod_custom-posledni-pridane-firmy .list-items ul ul{ padding: 4px 0 8px 14px; }
.mod_custom-posledni-pridane-firmy .list-items ul ul li{ font-size: 12px; padding: 0; font-family:Arial,Helvetica,sans-serif; }
.mod_custom-posledni-pridane-firmy .list-items ul ul li a{ color: #283825; }
.mod_custom-posledni-pridane-firmy .image-items{ margin: 0 0 1px; }
.mod_custom-posledni-pridane-firmy .image-items h3{ font-family:'OfficinaSanItcTBold',sans-serif; font-size: 16px; color: #6b1300; padding: 7px 12px; text-transform: uppercase; }
.mod_custom-posledni-pridane-firmy .image-items{ background: #e0c4b8; }
.mod_custom-posledni-pridane-firmy .image-items ul{ *zoom:1; margin:0 0 0 -4px; }
.mod_custom-posledni-pridane-firmy .image-items ul:before,.mod_custom-posledni-pridane-firmy .image-items ul:after{ display:table; content:""; }
.mod_custom-posledni-pridane-firmy .image-items ul:after{ clear:both; }
.mod_custom-posledni-pridane-firmy .image-items ul li{ float: left; width: 160px; margin: 0 0 0 4px; padding: 0 0 6px; text-align: center; font-size: 11px; }
.mod_custom-posledni-pridane-firmy .image-items ul li img{ margin: 0 0 2px; }
.mod_custom-posledni-pridane-firmy .image-items ul li a{ color: #283825; font-weight: bold; text-decoration: none;}
.mod_custom-posledni-pridane-firmy .image-items ul li a:hover{ text-decoration: underline;}
.mod_custom-posledni-pridane-firmy p.more{ *zoom:1; margin:0 0 0 -1px; }
.mod_custom-posledni-pridane-firmy p.more:before,.mod_custom-posledni-pridane-firmy p.more:after{ display:table; content:""; }
.mod_custom-posledni-pridane-firmy p.more:after{ clear:both; }
.mod_custom-posledni-pridane-firmy p.more .normal-button{ float: left; margin: 0 0 0 1px; padding: 0; width: 162px; text-transform: uppercase;}
.mod_custom-nejctenejsi,.mod_custom-clanky-detail{ margin: 0 0 20px; }
.mod_custom-nejctenejsi h2,.mod_custom-clanky-detail h2{ font-size: 17px; color: #283825; text-transform: uppercase;border-left: 2px solid #6a7b66;border-bottom: 2px solid #6a7b66; margin: 0 0 20px; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-nejctenejsi h2 span,.mod_custom-clanky-detail h2 span{display: inline-block;padding: 4px 0 4px 10px;border-top: 2px solid #6a7b66;}
.mod_custom-nejctenejsi .items li,.mod_custom-clanky-detail .items li{ *zoom:1; padding: 0 0 15px; }
.mod_custom-nejctenejsi .items li:before,.mod_custom-nejctenejsi .items li:after,.mod_custom-clanky-detail .items li:before,.mod_custom-clanky-detail .items li:after{ display:table; content:""; }
.mod_custom-nejctenejsi .items li:after,.mod_custom-clanky-detail .items li:after{ clear:both; }
.mod_custom-nejctenejsi .thumbnail,.mod_custom-clanky-detail .thumbnail{ float: left; }
.mod_custom-nejctenejsi .thumbnail a img,.mod_custom-clanky-detail .thumbnail a img{ border:3px solid #8fa689; margin: 5px 20px 5px 0;}
.colLeft .mod_custom-nejctenejsi .thumbnail a img,.colRight .mod_custom-nejctenejsi .thumbnail a img,.colLeft .mod_custom-clanky-detail .thumbnail a img,.colRight .mod_custom-clanky-detail .thumbnail a img{ margin-top: 0;}
.mod_custom-nejctenejsi .thumbnail a:hover img,.mod_custom-clanky-detail .thumbnail a:hover img{ border:3px solid #6a7b66; }
.mod_custom-nejctenejsi .items,.mod_custom-clanky-detail .items{padding: 0 0 10px 0; font-size: 14px; line-height: 19px;}
.mod_custom-nejctenejsi .items h2,.mod_custom-clanky-detail .items h2{ padding: 0; margin: 0 0 10px; text-transform: none; border: 0; font-size: 19px;}
.colLeft .mod_custom-nejctenejsi .items h2,.colRight .mod_custom-nejctenejsi .items h2 .items h2,.colLeft .mod_custom-clanky-detail,.colRight .mod_custom-clanky-detail .items h2{ font-size: 16px;}
.mod_custom-nejctenejsi .items h2 a,.mod_custom-clanky-detail .items h2 a{ color: #283825; }
.mod_custom-nejctenejsi p.more,.mod_custom-clanky-detail p.more{ text-align: right; border-top:2px solid #6a7b66; }
.mod_custom-nejctenejsi p.more .normal-button,.mod_custom-clanky-detail p.more .normal-button{ background: #6a7b66; border-bottom-color: #6a7b66; text-transform: none; padding: 0 37px; }
.mod_custom-nejctenejsi p.more .normal-button:hover,.mod_custom-clanky-detail p.more .normal-button:hover{ text-decoration: underline; padding: 0 37px; }


.mod_custom-nejnovejsi{ margin: 0 0 20px; }
.container .mod_custom-nejnovejsi{ margin: 50px 0; }
.mod_custom-nejnovejsi h2{ font-size: 17px; color: #283825; text-transform: uppercase;border-left: 2px solid #6a7b66;border-bottom: 2px solid #6a7b66; margin: 0 0 20px; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-nejnovejsi h2 span{display: inline-block;padding: 4px 0 4px 10px;border-top: 2px solid #6a7b66;}
.mod_custom-nejnovejsi .items li{ *zoom:1; padding: 0 0 15px; }
.mod_custom-nejnovejsi .items li:before,.mod_custom-nejnovejsi .items li:after{ display:table; content:""; }
.mod_custom-nejnovejsi .items li:after{ clear:both; }
.mod_custom-nejnovejsi .thumbnail{ float: left; }
.mod_custom-nejnovejsi .thumbnail a img{ border:3px solid #abc7a4; margin: 5px 20px 5px 0;}
.mod_custom-nejnovejsi .thumbnail a:hover img{ border:3px solid #6a7b66; }
.mod_custom-nejnovejsi .items{padding: 0 0 10px 0; font-size: 14px; line-height: 19px;}
.mod_custom-nejnovejsi .items h2{ padding: 0; margin: 0 0 10px; text-transform: none; border: 0; font-size: 19px;}
.mod_custom-nejnovejsi .items h2 a{ color: #283825; }
.mod_custom-nejnovejsi p.more{ text-align: right; border-top:2px solid #6a7b66; }
.mod_custom-nejnovejsi p.more{ text-align: right; border-top:2px solid #6a7b66; }
.mod_custom-nejnovejsi p.more .normal-button{ background: #6a7b66; text-transform: none; padding: 0 37px; border: 0;}
.mod_custom-nejnovejsi p.more .normal-button:hover{ text-decoration: underline; padding: 0 37px;}




.mod_cusatom-reklama{ padding: 22px 0 20px 0; }
.mod_cusatom-reklama .mod-title{ font-size: 17px; line-height: 19px; padding: 0 0 5px 10px; margin: 0 0 22px; border-bottom: 2px solid #6a7b66; text-transform: uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_cusatom-reklama .mod-title a{ float: right; font-size: 11px; font-weight: bold; text-transform: none; font-family:Arial,Helvetica,sans-serif; }
.mod_cusatom-reklama .item{ *zoom:1; margin:0 0 25px; font-size: 11px; }
.mod_cusatom-reklama .item:before,.mod_cusatom-reklama .item:after{ display:table; content:""; }
.mod_cusatom-reklama .item:after{ clear:both; }
.mod_cusatom-reklama h3{ margin: 0 0 3px; font-size: 12px; }
.mod_cusatom-reklama .thumbnail img{ float: left; margin: 0 10px 0 0; }
.mod_cusatom-reklama p{ margin: 0 0 5px; }
.mod_cusatom-reklama .url{ font-weight: bold; }
.module-slideshow{position:relative;margin:0 0 28px 0;border:3px solid #6a7b66;}
#ie6 .module-slideshow{height:0;}
.module-slideshow h2{padding:7px 5px 12px 9px;background:#6a7b66;color:#fff;font-size:16px;line-height:18px;font-family:'OfficinaSanItcTBold',sans-serif;}
.module-slideshow ul.items{height:100px;overflow:hidden;padding:14px 0 0 24px;margin:0 0 32px 0;}
.module-slideshow ul.items li{float:left;width:163px;height:100px;margin:0 0 0 7px;overflow:hidden;}
#ie6 .module-slideshow ul.items li img{display:inline;}
.module-slideshow ul.items li a:hover img{opacity:0.8;-moz-opacity:0.8;filter:alpha(opacity=80);}
.module-slideshow p.more{position:absolute;bottom:-14px;right:10px;padding:0 7px 0 80px;background:#fff;}
.module-slideshow .jcarousel-container{width:510px;height:100px;padding:17px 31px 32px 24px;}
.module-slideshow .jcarousel-clip{overflow:hidden;width:510px;height:100px;}
.module-slideshow .jcarousel-next{position:absolute;top:50px;right:6px;width:18px;height:34px;cursor:pointer;background:url(../_img/arr/11.gif) no-repeat;}
.module-slideshow .jcarousel-next:hover,.module-slideshow .jcarousel-next:focus{background-position:-18px 0;}
.module-slideshow .jcarousel-next:active{background-position:-18px 0;}
.module-slideshow .jcarousel-next-disabled,.module-slideshow .jcarousel-next-disabled:hover,.module-slideshow .jcarousel-next-disabled:focus,.module-slideshow .jcarousel-next-disabled:active{cursor:default;background-position:-36px 0;}
.module-slideshow .jcarousel-prev{position:absolute;top:50px;left:6px;width:18px;height:34px;cursor:pointer;background:url(../_img/arr/10.gif) no-repeat;}
.module-slideshow .jcarousel-prev:hover,.module-slideshow .jcarousel-prev:focus{background-position:-18px 0;}
.module-slideshow .jcarousel-prev:active{background-position:-18px 0;}
.module-slideshow .jcarousel-prev-disabled,.module-slideshow .jcarousel-prev-disabled:hover,.module-slideshow .jcarousel-prev-disabled:focus,.module-slideshow .jcarousel-prev-disabled:active{cursor:default;background-position:-36px 0;}
.box01Top h3{ padding:15px 8px 11px 12px; background:#ffd477 url(../_img/arr/06.png) no-repeat right bottom; color:#6b1300; font-size:17px; line-height:20px; text-transform:uppercase; border-bottom:2px solid #6b1300; font-family:'OfficinaSanItcTBold',sans-serif; }
.box01{ background:#ffd477; color:#fff; margin:0 0 12px 0; padding:12px; }
.box01 hr{ margin:10px 0 10px 0; padding:0; border:0; height:0; background:none; border-top:1px solid #283825; }
.box01 ul.menu{ padding: 7px 0 0 0; }
.box01 ul.menu li{ margin:0 0 9px; padding: 0 0 0 16px; background: url(../_img/arr/06.png) no-repeat 0 2px; }
.box01 ul.menu>li.act{ background-image: url(../_img/arr/16.png); }
.box01 ul.menu a{ font-size: 14px; line-height: 15px; color: #283825; text-transform: uppercase; text-decoration: none; font-family:'OfficinaSanItcTBold',sans-serif; }
.box01 ul.menu a:hover{ text-decoration: underline; }
.box01 ul.menu ul{ padding: 10px 0 3px 0; }
.box01 ul.menu ul li{ padding: 0 0 0 10px; margin: 0 0 2px; background: url(../_img/arr/15.png) no-repeat 0 5px; }
.box01 ul.menu ul a{ font-size: 11px; line-height: 13px; color: #6b1300; text-transform: none; font-family:Arial,Helvetica,sans-serif; }
.box01 ul.menu ul li.act>a{ font-weight: bold; color: #283825; }
.box01 ul.menu img.icon{float: right;margin: 0 -12px 0 5px;}
.box03{position:relative;top:7px;border:3px solid #6a7b66;margin:0 0 19px 0;padding:16px 15px 14px 15px;font-size:11px;}
#ie6 .box03{height:0;}
.box03 a{color:#4f5c4c;}
.box03 h3{position:absolute;top:-9px;left:11px;padding:0 50px 0 5px;background:#fff;color:#6a7b66;font-size:16px;line-height:18px;text-transform:uppercase;font-family:'OfficinaSanItcTBold',sans-serif;}
.box03 .loginBox{padding:0 0 9px 0;}
.box03 .loginBox .box03Login{padding:0 0 5px 0;}
.box03 .loginBox .box03Login input,.box03 .loginBox .box03Pass input{border:0;margin:0;padding:7px 9px;height:14px;width:140px;background:#c3dbbc;font-size:11px;font-weight:bold;}
.box03 .loginBox .box03Pass input{float:left;width:107px;margin-right:5px;}
.box03 .loginBox .box03Login input:hover,.box03 .loginBox .box03Login input:focus,.box03 .loginBox .box03Pass input:hover,.box03 .loginBox .box03Pass input:focus{background:#d5f0ce;}
.box03 .loginBox .box03Button input{border:0;margin:0;padding:0;height:28px;width:28px;background:url(../_img/btn/04.png) no-repeat;cursor:pointer;}
.box03 .loginBox .box03Button input:hover,.box03 .loginBox .box03Button input:focus{background-position:bottom;}
.box03 .xnewsletter_module .xnewsletter_introtext{font-size:11px;font-weight:bold;padding:0 0 10px 0;}
.box03 .xnewsletter_module .user_name input{border:0;margin:0;padding:7px 9px;height:14px;width:140px;background:#c3dbbc;font-size:11px;font-weight:bold;}
.box03 .xnewsletter_module .user_name input:hover,.box03 .xnewsletter_module .user_name input:focus{background:#d5f0ce;}
.box03 .xnewsletter_module .acysubbuttons{padding:7px 0 0 0;}
.box03 .xnewsletter_module .acysubbuttons .green-button{padding:0 7px;}
.box05Top h3{ padding:10px 8px 3px 10px; background: url(../_img/arr/06.png) no-repeat right bottom; color:#6b1300; font-size:17px; line-height:20px; text-transform:uppercase; border-bottom:2px solid #6b1300; font-family:'OfficinaSanItcTBold',sans-serif; }
.box05{ margin:0 0 20px 0; padding:12px 0; }
.box05 hr{ margin:10px 0 10px 0; padding:0; border:0; height:0; background:none; border-top:1px solid #d2d7d1; }
.box06Top h3{ padding:10px 8px 3px 10px; background: url(../_img/arr/06.png) no-repeat right bottom; color:#6b1300; font-size:17px; line-height:20px; text-transform:uppercase; border-bottom:2px solid #6b1300; font-family:'OfficinaSanItcTBold',sans-serif; }
.box06{ margin:0 0 20px 0; padding:12px 0; }
.box06 hr{ margin:10px 0 10px 0; padding:0; border:0; height:0; background:none; border-top:1px solid #6b1300; }
.box06 dl.cal-events{ line-height:14px; padding:0 10px; }
#ie6 .box06 dl.cal-events{ height:243px; }
.box06 dl.cal-events a{ color:#4f5c4c; }
.box06 dl.cal-events dt{ font-weight:bold; }
.box06 dl.cal-events dd{ padding:0 0 12px 0; }
.box06 .more a{ display: inline-block; height: 30px; line-height: 30px; padding:0 20px; font-weight:bold; font-size:11px; color:#fff; text-decoration:none; background:#6a7b66; }
.box06 .more a:hover{ background: #6b1300; }
.box06 .box06Frame img{ border:3px solid #d2d7d1; }
.box06 .box06Frame a:hover img{ border:3px solid #8ea589; }
.mod_custom-bonus-program a{ display: block; height: 30px; line-height: 30px; text-decoration: none; text-transform: uppercase; font-size: 14px; color:#283825; padding: 0 30px 0 12px; margin: 0 0 25px; font-family:'OfficinaSanItcTBold',sans-serif; background:#fbc707 url(../_img/arr/18.png) no-repeat right top; }
.mod_custom-bonus-program a:hover{ background-position: right bottom; }
.module-dark-top h3{padding:11px 8px 11px 12px;background:#a44a13;color:#fbc707;font-size:15px;line-height:18px;text-transform:uppercase;font-family:'OfficinaSanItcTBold',sans-serif;}
.module-dark{background:#6b291b;color:#fff;margin:0 0 12px 0;padding:12px;}
.module-dark a{color:#cbdbc7;}
.module-dark hr{margin:10px 0 10px 0;padding:0;border:0;height:0;background:none;border-top:1px solid #a44a13;}
.module-dark ul.menu li a{display:block;text-decoration:none;padding:9px 0 10px 25px;background:url(../_img/arr/06.png) no-repeat 2px 9px;border-bottom:1px solid #a44a13;font-size:13px;text-transform:uppercase;line-height:16px;font-weight:bold;font-family:'OfficinaSanItcTBold',sans-serif;}
.module-dark ul.menu li a:hover,.module-dark ul.menu li a.act{color:#fff;}
#ie6 .module-dark ul.menu li a{height:0;background:url(../_img/arr/06.gif) no-repeat 5px 5px;}
.module-dark ul.menu ul{padding:10px 0 3px 18px;border-bottom:1px solid #a44a13;}
.module-dark ul.menu ul li{padding:0 0 7px 14px;background:url(../_img/arr/05.png) no-repeat 0 3px;}
#ie6.module-dark ul.menu ul li{height:0;background:url(../_img/arr/05.gif) no-repeat 0 3px;}
.module-dark ul.menu ul li a{display:inline;text-decoration:none;padding:0;background:none;border-bottom:0;font-size:12px;line-height:normal;font-weight:bold;font-family:Arial,Helvetica,sans-serif;}
.module-dark ul.menu ul li a.act,.module-dark ul.menu ul li a:hover{text-decoration:underline;}
.module-open{position:relative;top:7px;border:3px solid #6a7b66;margin:0 0 19px 0;padding:16px 15px 14px 15px;font-size:11px;}
#ie6 .module-open{height:0;}
.module-open a{color:#4f5c4c;}
.module-open h3{position:absolute;top:-9px;left:11px;padding:0 50px 0 5px;background:#fff;color:#6a7b66;font-size:16px;line-height:18px;text-transform:uppercase;font-family:'OfficinaSanItcTBold',sans-serif;}
.module-open .loginBox{padding:0 0 9px 0;}
.module-open .loginBox .box-login{padding:0 0 5px 0;}
.module-open .loginBox .box-login input,.module-open .loginBox .box-pass input{border:0;margin:0;padding:7px 9px;height:14px;width:140px;background:#c3dbbc;font-size:11px;font-weight:bold;}
.module-open .loginBox .box-pass input{float:left;width:107px;margin-right:5px;}
.module-open .loginBox .box-login input:hover,.module-open .loginBox .box-login input:focus,.module-open .loginBox .box-pass input:hover,.module-open .loginBox .box-pass input:focus{background:#d5f0ce;}
.module-open .loginBox .box-button input{border:0;margin:0;padding:0;height:28px;width:28px;background:url(../_img/btn/04.png) no-repeat;cursor:pointer;}
.module-open .loginBox .box-button input:hover,.module-open .loginBox .box-button input:focus{background-position:bottom;}
.module-open .xnewsletter_module .xnewsletter_introtext{font-size:11px;font-weight:bold;padding:0 0 10px 0;}
.module-open .xnewsletter_module .user_name input{border:0;margin:0;padding:7px 9px;height:14px;width:140px;background:#c3dbbc;font-size:11px;font-weight:bold;}
.module-open .xnewsletter_module .user_name input:hover,.module-open .xnewsletter_module .user_name input:focus{background:#d5f0ce;}
.module-open .xnewsletter_module .acysubbuttons{padding:7px 0 0 0;}
.module-open .xnewsletter_module .acysubbuttons .green-button{padding:0 7px;}
.module-rules-top h3{padding:11px 8px 11px 12px;background:#6a7b66;color:#fff;font-size:15px;line-height:18px;text-transform:uppercase;font-family:'OfficinaSanItcTBold',sans-serif;}
.module-rules{background:url(../_img/bg/05.png) no-repeat;margin:0 0 12px 0;padding:16px 10px;}
.module-rules hr{margin:10px 0 10px 0;padding:0;border:0;height:0;background:none;border-top:1px solid #d2d7d1;}
.module-closed-top h3{padding:11px 8px 11px 12px;background:#a44a13;color:#fff;font-size:15px;line-height:18px;text-transform:uppercase;font-family:'OfficinaSanItcTBold',sans-serif;}
.module-closed{border:3px solid #a44a13;border-top:0;margin:0 0 12px 0;padding:16px 15px;}
#ie6 .module-closed{height:0;}
.module-closed hr{margin:10px 0 10px 0;padding:0;border:0;height:0;background:none;border-top:1px solid #eecfb7;}
.module-closed dl.cal-events{line-height:14px;/*min-height:243px;*/}
#ie6 .module-closed dl.cal-events{height:243px;}
.module-closed dl.cal-events a{color:#4f5c4c;}
.module-closed dl.cal-events dt{font-weight:bold;}
.module-closed dl.cal-events dd{padding:0 0 12px 0;}
.module-closed .more{background:url(../_img/arr/09.gif) no-repeat -100px;min-height:0;}
#ie6 .module-closed .more{height:0;}
.module-closed .more a{padding:0 0 0 20px;font-weight:bold;font-size:11px;line-height:13px;text-decoration:none;background:url(../_img/arr/03.gif) no-repeat left;min-height:0;}
#ie6 .module-closed .more a{height:0;}
.module-closed .more a:hover{text-decoration:underline;background:url(../_img/arr/09.gif) no-repeat left;}
.module-closed .box06Frame img{border:3px solid #d2d7d1;}
.module-closed .box06Frame a:hover img{border:3px solid #8ea589;}
#ie6 .module-closed-top h3{height:0;}
/* /xart:jk - boxy s nekonfliktnÃ­mi tÅ™Ã­dami */
div.banner ul{margin:0 0 7px 0;}
div.banner ul li{margin:0 0 5px 0;}
.mod_poll{ margin:0 0 20px 0; }
.mod_poll .title{ padding:10px 8px 3px 10px; margin: 0 0 16px; background: url(../_img/arr/06.png) no-repeat right bottom; color:#6b1300; font-size:17px; line-height:20px; text-transform:uppercase; border-bottom:2px solid #6b1300; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_poll p{ padding:0 10px 13px 10px; }
.mod_poll form{ font-size:11px; }
.mod_poll form table{ margin: 0 10px 11px 10px; }
.mod_poll form tr th{ padding:0 0 7px 0; }
.mod_poll form tr td{ padding:0 5px 7px 0; }
.mod_poll form tr td input{ margin:0; }
.module-talk{ margin:  0 0 10px; }
.module-talk h3,.module-talk .title{ padding:19px 0 0 10px; color:#6b291b; font-size:17px; line-height:19px; border-bottom:2px solid #6b1300; text-transform:uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.module-talk h3 a,.module-talk .title a{ display:block; text-decoration:none; padding:0 0 4px 0; background:url(../_img/arr/17.png) no-repeat right bottom; }
.module-talk .prispevky ul{ padding:16px 10px 8px 10px; font-size:12px; }
.module-talk .prispevky ul li{ margin: 0 0 13px; }
.module-talk .prispevky ul a{ font-weight: bold; }
.module-talk .prispevky ul a.autor{ font-weight: normal; }
.mod_custom-souteze{padding:16px 15px 1px 15px;}
.mod_custom-souteze ul li{position:relative;padding:0 0 15px 46px;}
.mod_custom-souteze ul li img{position:absolute;top:4px;left:0;}
.mod_custom-souteze ul li a{color:#283825;}
.mod_custom-topnavstevnici select{ background:#c3dbbc; border:0; padding:5px; margin:0 0 20px 0; width:190px; }
.mod_custom-topnavstevnici .box06In{ padding: 0 0 0 10px; }
.mod_custom-topnavstevnici .output{ font-size: 11px; }
.mod_custom-topnavstevnici .count{ float:right; }
.mod_custom-topnavstevnici .chart{ display:block; clear:both; height:8px; width:0; background:#c3dbbc; font-size:0; margin:3px 0 4px 0; }
.banner-predplatne a{display:block;width:90px;height:88px;padding:17px 7px 0 103px;margin:0 0 12px 0;font-size:16px;line-height:18px;text-decoration:none;font-family:'OfficinaSanItcTBold',sans-serif;background:url(../_img/btn/08.png) no-repeat;}
.mod_custom-drevostavba-roku a{ display:block; width:154px; height:105px; padding:13px 28px 0 18px; margin:0 0 12px 0; font-size:12px; line-height:14px; font-weight: bold; text-decoration:none; background:url('../_img/btn/14.png?rnd=2') no-repeat; }
.mod_custom-drevostavba-roku a:hover{ background-position: bottom; }
.mod_custom-drevostavba-roku a .mod-title{ display:block; padding:0 0 8px 40px; font-size:19px; line-height:19px; color:#283825; font-style:normal; text-transform:uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.banner-custom a{display:block;width:160px;height:102px;padding:15px 20px 0 20px;margin:0 0 12px 0;font-size:12px;font-weight:bold;line-height:15px;text-decoration:none;color:#a44a13;background:url(../_img/btn/09.png) no-repeat;}
.banner-custom a span{display:block;font-size:19px;line-height:22px;color:#6b291b;padding:0 0 8px 0;font-family:'OfficinaSanItcTBold',sans-serif;}
.subpage ul.thumbnails{*zoom:1;margin:0 0 20px -12px;padding:0;_display:inline;}
.subpage ul.thumbnails:before,.subpage ul.thumbnails:after{display:table;content:"";}
.subpage ul.thumbnails:after{clear:both;}
.subpage ul.thumbnails li{margin:0 0 9px 12px;padding:0;float:left;background:none;_display:inline;}
/* footer */
div.footer{ position:relative; background:#54332f; margin: 0 -10px 20px -10px; }
div.footer ul.footerMenu{ position:absolute; top:107px; right:16px; }
div.footer ul.footerMenu li{ float:left; font-weight:bold; color:#fff; padding:0 0 0 10px; }
div.footer ul.footerMenu li a{ color:#fff; margin:0 7px 0 0; text-decoration:none; }
div.footer ul.footerMenu li a:hover{ text-decoration:underline; }
div.footer .footer-copy{*zoom:1;clear: both;padding: 34px 20px 20px 20px; background: #3b1a16; color:#fff; font-size: 11px;}
div.footer .footer-copy:before,div.footer .footer-copy:after{display:table;content:"";}
div.footer .footer-copy:after{clear:both;}
div.footer .footer-copy a{ color:#e0c4b8; }
div.footer .footer-copy .copy{float: left;}
div.footer .footer-copy .copy img{ float: left; position: relative; top:-26px; margin: 0 13px -28px 0; }
div.footer .xart{ float: right; text-transform: uppercase; font-size: 10px; }
div.footer .xart img{ float: right; margin: -2px 0 0 7px;}
div.footer .xart a{ color:#fffed6; text-decoration:none; }
div.footer .xart a:hover{ text-decoration: underline; }
.mod_custom-footer-menu{ *zoom:1; padding: 17px 0 24px 20px; }
.mod_custom-footer-menu:before,.mod_custom-footer-menu:after{ display:table; content:""; }
.mod_custom-footer-menu:after{ clear:both; }
.mod_custom-footer-menu .column{ width:150px; float: left; padding: 0 0 0 15px; }
.mod_custom-footer-menu .mod-title{ color: #fff; font-size: 14px; margin: 14px 0; text-transform: uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-footer-menu ul li{ font-size: 11px; margin: 0 0 3px 0; }
.mod_custom-footer-menu a{ color:#e0c4b8; text-decoration: none; }
.mod_custom-footer-menu a:hover{ text-decoration: underline; }
.mod_banners{margin: 0 -10px 10px;clear: both;}
.mod_banners h2 {font-size: 17px;color: #283825;text-transform: uppercase;border-left: 2px solid #6a7b66;border-bottom: 2px solid #6a7b66;margin: 0 0 20px;font-family: 'OfficinaSanItcTBold',sans-serif;}
.mod_banners h2 span {display: inline-block;padding: 4px 0 4px 10px;border-top: 2px solid #6a7b66;}
.mod_banners ul{*zoom:1;margin:0 0 0 -16px; text-align: left;}
.mod_banners ul:before,.mod_banners ul:after{display:table;content:"";}
.mod_banners ul:after{clear:both;}
.mod_banners ul li{ float: left; margin: 0 0 10px 16px;}
.mod_banner-normal{ text-align: center; margin: 5px 0 20px; }
.mod_banner-normal.pull-left{float: left; width: 47.2%;}
.mod_banner-normal.pull-right{float: right; width: 47.2%;}
.mod_banner-normal.wide{width: 51.6%;}
.mod_banner-normal .mod-title{text-align: left; font-size: 11px;color: #999;}
.mod_banner-normal li{margin: 4px 0;}
.mod_banner-normal img{border: 1px solid #6a7b66;max-width: 100%;height:auto!important;}
.mod_custom-hlasovani{margin: 0 0 25px;}
.mod_custom-hlasovani a{*zoom:1;display: block;text-decoration: none;background: #fbc707;}
.mod_custom-hlasovani a:before,.mod_custom-hlasovani a:after{display:table;content:"";}
.mod_custom-hlasovani a:after{clear:both;}
.mod_custom-hlasovani .title{float: left;width: 150px;padding: 12px 10px 0 70px;text-transform: uppercase;color: #283825;font-size: 22px;line-height: 1;text-decoration: none;background: url(../_img/ico/11.png) no-repeat 18px 12px;font-family:'OfficinaSanItcTBold',sans-serif;}
.mod_custom-hlasovani .link{position: relative;float: left;width: 190px;font-weight: bold;font-size: 14px;line-height: 16px;padding: 16px 0 0 0;height: 50px;text-decoration: underline;border-right: 68px solid #6b1300;}
.mod_custom-hlasovani a:hover .link{border-color: #283825;text-decoration: none;}
.mod_custom-hlasovani .link:before{position: absolute;content: '';right: -65px;top: 16px;border: 20px solid transparent;border-top-width: 17px;border-bottom-width: 17px;border-left-color: #fff;}
/* subpage */
.subpageTop{position:relative;}
.subpageTop h1{color:#6b1300;font-size:30px;line-height:1.2;font-family:'OfficinaSanItcTBold',sans-serif;}
.subpageTop.subpageTopNav h1{padding-right:230px;}
.mod_custom-nav-link a{ position:absolute; top:0; right:20px; width:175px; height:50px; padding:7px 15px 0 15px; font-size:15px; line-height:18px; font-style:italic; text-decoration:none; color:#fff; background:#6b1301 url(../_img/btn/04.png) no-repeat 96% 85%; }
.mod_custom-nav-link a:hover{ background-color: #6a7b66; }
.mod_custom-nav-link .mod-title{font-size:18px;line-height:21px;color:#fff;display:block;font-style:normal;font-family:'OfficinaSanItcTBold',sans-serif;}
.subpage{padding:20px;}
#ie6 .subpage{height:0;}
.subpage h1{font-size:30px; color: #6b1300;margin:0 0 20px 0;text-transform:uppercase;font-family:'OfficinaSanItcTBold',sans-serif;}
.subpage h1 small{text-transform: none;}
.subpage h2{font-size:20px;margin:0 0 20px 0;font-family:'OfficinaSanItcTBold',sans-serif;}
.subpage h3{font-size:18px;margin:0 0 20px 0;font-family:'OfficinaSanItcTBold',sans-serif;}
.subpage h4{font-size:16px;margin:0 0 20px 0;font-family:'OfficinaSanItcTBold',sans-serif;}
.subpage p{padding:0 0 20px 0;line-height:160%;}
.subpage .more{text-align:right;}
.subpage .more a{display:inline-block;white-space:nowrap;padding:0 20px 0 0;text-decoration:none;font-weight:bold;border-bottom:2px solid #6b1300;background:url(../_img/arr/17.png) no-repeat right bottom;}
.subpage .more a:hover{padding:0 17px 0 3px;}
.subpage ul{padding:0 0 20px 20px;line-height:150%;font-size:12px;}
.subpage ul ul{padding:10px 0 0 20px;}
.subpage ul li{padding:0 0 8px 20px;margin:0 0 0 0;background:url(../_img/arr/15.png) no-repeat 0 5px;}
#ie6 .subpage ul li{height:0;}
.subpage table.normal{margin:0 0 20px 0;background:#fff;}
.subpage table.normal th,.subpage table.normal td{padding:5px 7px;border:1px solid #283825;}
.subpage table.normal th{color:#fff;background:#6a7b66;border-color: #283825;}
.subpage table.normal tr.highlight td{background:#f6f6f6;}
.subpage table.normal tr:hover td{background:#f2f2f2;}
.subpage form.normal-form{margin:0 0 20px 0;}
#ie6 .subpage form.normal-form{height:0;}
.subpage form.normal-form label{ padding:0 10px 0 0; }
.subpage form.normal-form label.indent{ display:block; padding:0 0 5px 0; font-weight:bold; font-size:11px; }
.subpage form.normal-form input.input-field-long,.subpage form.normal-form input.input-field-short,.subpage form.normal-form textarea,.subpage form.normal-form select{ margin:0; padding:7px 9px; height:14px; width:140px; border:1px solid #d0d9ce; background:#fff; }
.subpage form.normal-form input.input-field-short{ width:160px; }
.subpage form.normal-form textarea{ width:auto; height:auto; padding:6px; }
.subpage form.normal-form select{ min-width: 160px; width:auto; height:auto; padding:1px; }
.subpage form.normal-form input.input-field-long:hover,form.normal-form input.input-field-short:hover,form.normal-form textarea:hover,form.normal-form input.input-field-long:focus,form.normal-form input.input-field-short:focus,form.normal-form textarea:focus,form.normal-form select:hover,form.normal-form select:focus{ border-color:#6b1300; }
.subpage form.normal-form .fileinputs{ position:relative; overflow:hidden; display:inline-block; cursor:default; }
.subpage form.normal-form .fileinputs input.type-file{ position:absolute; top:-10px; right:-10px; margin:0; padding:0; border:0; width:auto!important; font-size:999px; z-index:1; cursor:default; -webkit-opacity:0; -moz-opacity:0; opacity:0; filter:alpha(opacity=0); }
.search-form fieldset{padding: 20px;border: 3px solid #a44a13;}
.search-form legend{font-size: 17px;color: #6b1300;font-weight: bold;padding: 0 10px;text-transform: uppercase;font-family:'OfficinaSanItcTBold',sans-serif;}
.search-form .normal-button{background-image: url(../_img/btn/18.png);background-repeat: no-repeat;background-position: right;font-size: 21px;height: 54px;padding-right: 50px;padding-left: 30px;}
.normal-button,.button,.green-button,.add-button,.add-link{ position:relative; margin:0; padding:0; border:0; height:30px; padding:0 14px; color:#fff!important; text-align:center; font-weight:bold; text-transform:uppercase; overflow:visible; font-size:11px; text-decoration:none; background-color:#6b1300; cursor:pointer; white-space:nowrap; font-family:Arial,Helvetica,sans-serif; }
a.normal-button,a.button,a.green-button,a.add-button,a.add-link{ display:inline-block; line-height:30px; }
.normal-button:hover,.button:hover,.green-button:hover,.add-button:hover,.add-link:hover{ background-color:#6a7b66; }
.green-button{ background-color:#6a7b66; }
.green-button:hover{ background-color:#6b1300; }
.add-button{ padding-left:32px; background-repeat: no-repeat; background-position: 7px 7px; background-image: url(../_img/btn/06.png); }
.add-link{ padding-left:32px; background-repeat: no-repeat; background-position: 7px 7px; background-image: url(../_img/btn/07.png); }
.subpage .pagehub{clear:both;text-align:center;margin:0 0 20px 0;}
.subpage .pagehub a,.subpage  .pagehub span.pagenav,.subpage  .pagehub span.pagenav-ico{display:inline-block;position:relative;margin:0;padding:0;border:0;height:26px;line-height:26px;width:26px;color:#fff!important;text-align:center;font-weight:bold;overflow:visible;font-size:13px;text-decoration:none;background:#6a7b66;font-family:Arial,Helvetica,sans-serif;}
.subpage .pagehub span.pagenav{}
.subpage .pagehub a:hover,.subpage .pagehub span.pagenav{background:#6b1300;}
.subpage .pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.colored-grey{color:#777;}
.colored-blue{color:#003b5c;}
.colored-black{color:#000;}
.colored-brown{color:#6b291b;}
.colored-yellow{color:#f6c207;}
.clear-decor,.description_separator,.article_separator,.catalog_separator{clear:both;padding:0 0 20px 0;height:6px;background:url(../_img/bg/10.png) no-repeat top;}
.subpage hr{margin:0 0 20px 0;padding:0;border:0;height:0;background:none;border-top:3px solid #6b1300;}
img.img-left{float:left;margin:4px 16px 5px 0;}
img.img-right{float:right;margin:4px 0 5px 16px;}
a.jcepopup img{border:3px solid #6b1300;}
a.jcepopup:hover img{border:3px solid #d2d7d1;}
#system-message dt{ display:none; }
#system-message .message ul{ margin:0; padding:0; }
#system-message .message ul li{ margin:0; padding:0; background:none; }
#system-message .message{ padding:8px 14px; margin:0 0 15px 0; background-color:#d2e1ce; border:1px solid #6a7b66; color:#6a7b66; }
#system-message .notice{ background-color:#ffe5ad; border-color:#6b1300; color:#6b1300; }
#system-message .warning,#system-message .error{ background-color:#ffd8c8; border-color:#bb0a0a; color:#bb0a0a; }
/* ADRESÃÅ˜ FIREM */
.subpageTop-katalog{*zoom:1;}
.subpageTop-katalog:before,.subpageTop-katalog:after{display:table;content:"";}
.subpageTop-katalog:after{clear:both;}
.subpageTop-katalog ul{width: 500px;float:left;padding:20px 0 0 0;border-bottom:3px solid #6a7b66;}
.subpageTop-katalog ul li{display:inline;}
.subpageTop-katalog ul li a{display:inline-block;height:28px;line-height:28px;padding:3px 10px 0 10px;font-weight:bold;font-size:12px;text-decoration:none;}
.subpageTop-katalog ul li a:hover{background:#c3dbbc;color:#000;}
.subpageTop-katalog ul li.act a{color:#fff;background:#6a7b66;}
.subpageTop-katalog .col-right{width: 210px;float: right;padding: 20px 0 0 0;}
.subpageTop-katalog .button{float: right;padding-left: 40px;padding-right: 20px;line-height: 34px;height: 34px;font-size: 12px;background-image: url(../_img/btn/19.png);background-repeat: no-repeat;background-position: 11px 9px;}
.subcategory_boxes{margin: 0 10px 30px 73px;}
.subcategory_boxes .item{margin: 0 0 12px;}
.subcategory_boxes .header{*zoom:1;position: relative;background: #d2d7d1;min-height: 57px;padding: 13px 20px 0 100px;}
.subcategory_boxes .header:before,.subcategory_boxes .header:after{display:table;content:"";}
.subcategory_boxes .header:after{clear:both;}
.subcategory_boxes .header .icon{position: absolute;left: -73px;top:0;}
.subcategory_boxes .header .num{position: absolute;left: 0;top:0;width: 90px;text-align: right;line-height: 66px;color: #fff;font-size: 50px;font-family:'OfficinaSanItcT',sans-serif;}
.subcategory_boxes .header h2{text-transform: uppercase;font-size: 26px;line-height: 1.1;color: #283825;margin: 0;}
.subcategory_boxes .header h2 a{color: #283825;}
.subcategory_boxes .header h2 small{display: block;text-transform: none;color: #c20000;font-size: 12px;line-height: 1.3;font-family:Arial,Helvetica,sans-serif;}
.subcategory_boxes .body{padding: 37px 50px 30px 100px;background: #f0f2ef;}
.subcategory_boxes .body>ul{margin: 0;padding: 0;}
.subcategory_boxes .body>ul>li{margin: 0 0 10px;padding: 0 0 0 20px;background: url(../_img/arr/19.png) no-repeat 0 6px;font-size: 18px;line-height: 1.2;color: #283825;font-family:'OfficinaSanItcTBold',sans-serif;}
.subcategory_boxes .body>ul>li>a{color: #283825;}
.subcategory_boxes .body>ul>li ul{margin: 0;padding: 10px 0 1px;}
.subcategory_boxes .body>ul>li ul li{margin: 0 0 8px;padding: 0 0 0 15px;font-size: 14px;color: #6b1300;font-family:Arial,Helvetica,sans-serif;background: url(../_img/arr/20.png) no-repeat 0 4px;}
.subcategory_boxes .body>ul>li ul li a{font-weight: bold;}
.xkatalog .subcat-tools{padding:0 0 20px 0;}
.xkatalog .subcategories li.featured .featured-tip{display:inline;color:red;}
.xkatalog .num_results{padding:7px 17px;color:#fff;font-size:18px;margin:0 0 20px 0;font-weight:bold;font-family:'OfficinaSanItcTBold',sans-serif;background:#6a281a;}
.xkatalog .num_results strong{color:#f6c207;}
.xkatalog .switch-view{padding:0 0 20px 0;}
.xkatalog .switch-view span.label{line-height:15px;color:#6b291b;font-size:15px;font-weight:bold;padding:0 10px 0 0;margin:0 15px 0 0;border-right:3px solid #6b291b;font-family:'OfficinaSanItcTBold',sans-serif;}
.xkatalog .switch-view a{display:inline-block;height:15px;line-height:15px;padding:0 0 0 40px;color:#a44a13;font-size:15px;margin:0 10px 0 0;font-weight:bold;font-family:'OfficinaSanItcTBold',sans-serif;text-decoration:none;}
.xkatalog .switch-view a.view-list{background:url(../_img/ico/01.gif) no-repeat bottom left;}
.xkatalog .switch-view a.view-table{background:url(../_img/ico/02.gif) no-repeat bottom left;}
.xkatalog .switch-view a.view-image{background:url(../_img/ico/03.gif) no-repeat bottom left;}
.xkatalog .switch-view a:hover{background-position:left top;}
.xkatalog .switch-view a.act{background-position:left top;text-decoration:underline;}
.xkatalog .listing form.normal.filter{position:relative;padding:20px;background:#f5e8e1;border-top:3px solid #a44a13;}
#ie6 .xkatalog .listing form.normal.filter{height:0;}
.xkatalog .listing form.normal.filter .submit{font-weight:bold;padding:20px 0 0 0;}
.xkatalog .listing form.normal.filter .submit a.button{position:absolute;bottom:20px;right:20px;}
.xkatalog .listing .item .listing-summary{border:1px solid #6a7b66;padding:20px;}
.xkatalog .listing .item .listing-summary.featured{background:#f5e8e1;}
.xkatalog .listing .item h2{margin-bottom:10px;color:#fff;margin:0;font-size:18px;padding:5px 20px 5px 40px;background:#6a7b66 url(../_img/ico/04.png) no-repeat 10px 10px;display:inline-block;}
#ie6 .xkatalog .listing .item h2{display:inline;background:#a44a13;}
.xkatalog .listing .item h2 a{color:#fff;text-decoration:none;border-bottom:1px dotted #fff;}
.xkatalog .listing .item h2 a:hover{border-bottom:1px solid #fff;}
.xkatalog .listing .item h2 sup{font-size:11px;font-family:Arila,Helvetica,sans-serif;position:relative;top:-6px;left:6px;}
.xkatalog .listing .item .listing-summary .summary-rating{padding:0 0 10px 0;}
.xkatalog .listing .item .listing-summary .category,.xkatalog .listing .item .listing-summary .other-categories{padding:0 0 10px 0;font-weight:bold;font-size:11px;}
.xkatalog .listing .item .listing-summary a img.img-right{border:3px solid #d2d7d1;margin:0 0 10px 30px;}
.xkatalog .listing .item .listing-summary a:hover img.img-right{border:3px solid #8ea589;}
.xkatalog .listing .item .listing-summary .productDetails{font-size:120%;padding:0 0 20px 0;}
.xkatalog .listing .item .listing-summary .row{padding:0 0 10px 0;}
.xkatalog .listing .item .listing-summary .row div{display:inline;}
.xkatalog .listing .item .listing-summary .row div.caption{border-right:1px solid #4f5c4c;padding:0 10px 0 0;margin:0 10px 0 0;font-weight:bold;}
.xkatalog .listing .item .listing-summary .row ul{display:inline;padding:0;margin:0;}
.xkatalog .listing .item .listing-summary .row ul li{display:inline;padding:0 0 0 18px;margin:0;background:url(../_img/arr/03.gif) no-repeat left;}
.xkatalog .listing .pagehub{padding:20px 0 0 0;}
.karta-firmy-img{width:35%;padding:0 0 20px 0;float:left;}
.karta-firmy-data{width: 63%;float: right;}
.karta-firmy-data table{width:100%;margin:0 0 20px 0px;float:left;}
.karta-firmy-data table td{border:1px solid #e3d7d5;padding:3px 5px;}
.karta-firmy-data table td.r{border:1px solid #fff;padding:5px 7px;background:#ffe5ad;color:#000;font-weight:bold;font-size:11px;}
ul.adresar-menu{clear:both;padding:0 0 20px 0;border-top:3px solid #6a7b66;text-align:right;}
ul.adresar-menu li{display:inline;margin:0;padding:0;background:none;}
ul.adresar-menu li a{display:inline-block;height:28px;line-height:28px;padding:3px 10px 0 10px;font-weight:bold;font-size:12px;text-decoration:none;color:#000;background:#c3dbbc;}
ul.adresar-menu li a:hover{color:#fff;background:#6a7b66;}
table.karta-firmy-results{width:100%;border:3px solid #697a65;text-align:center;margin:0 0 20px 0;}
table.karta-firmy-results td{padding:20px;vertical-align:middle;}
table.karta-firmy-results table td{padding:3px 5px;}
.mod_custom-akcni-nabidky{position:relative;width:325px;margin:0 35px 35px 0;padding:16px 0 0 0;background:#fcd239 url(../_img/bg/12.png) repeat-y;}
.mod_custom-akcni-nabidky.pull-right{float:right;margin-left:20px;}
.mod_custom-akcni-nabidky.absolute-right{position:fixed;top:303px;width:auto;min-height:300px;_height:300px;margin-left:1016px;}
.mod_custom-akcni-nabidky .mod-title{position:absolute;top:0;bottom:0;height:100%;min-height:300px;_height:300px;left:100%;width:35px;margin:0;padding:0;-webkit-border-radius:0 8px 8px 0;-moz-border-radius:0 8px 8px 0;border-radius:0 8px 8px 0;background:#f7a904 url(../_img/bg/12.png) repeat-y;}
.mod_custom-akcni-nabidky.absolute-right .mod-title{cursor:pointer;}
.mod_custom-akcni-nabidky.absolute-right .mod-title i{position:absolute;top:260px;left:10px;width:13px;margin:0;height:24px;background:url(../_img/arr/12.png) no-repeat;}
.mod_custom-akcni-nabidky .mod-title img{position:absolute;display:block;top:20px;left:9px;}
.mod_custom-akcni-nabidky.absolute-right .items{position:relative;overflow:hidden;width:104px;margin-left:-104px;}
.mod_custom-akcni-nabidky.absolute-right.open .items{margin-left:0;}
.mod_custom-akcni-nabidky .item{*zoom:1;margin:0 0 14px 0;padding:0 13px;border-bottom:1px solid #e1a92e;}
.mod_custom-akcni-nabidky .item:before,.mod_custom-akcni-nabidky .item:after{display:table;content:"";}
.mod_custom-akcni-nabidky .item:after{clear:both;}
.mod_custom-akcni-nabidky .item .image{position:relative;_height:0;float:left;}
.mod_custom-akcni-nabidky.absolute-right .item .image{float:none;}
.mod_custom-akcni-nabidky .item .image img{margin:0 10px 10px 0;border:3px solid #6a7b66;}
.mod_custom-akcni-nabidky.absolute-right .item .image img{margin:0;}
.mod_custom-akcni-nabidky .item .image a:hover img{border-color:#c20000;}
.mod_custom-akcni-nabidky .item .image .price{position:absolute;top:-2px;left:-2px;width:73px;height:73px;background:url(../_img/bg/13.png) no-repeat;}
/*
.mod_custom-akcni-nabidky .item .image .price span{position:absolute;top:20px;left:-10px;*top:-4px;*left:-4px;width:80px;height:16px;color:#fff;text-align:center;font-size:13px;line-height:16px;font-family:'OfficinaSanItcTBold',sans-serif;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-0-transform:rotate(-45deg);-ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483,M12=0.7071067811865467,M21=-0.7071067811865467,M22=0.7071067811865483,SizingMethod='auto expand')";filter:progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483,M12=0.7071067811865467,M21=-0.7071067811865467,M22=0.7071067811865483,SizingMethod='auto expand');}
#ie8 .mod_custom-akcni-nabidky .item .image .price span,#ie9 .mod_custom-akcni-nabidky .item .image .price span{top:-4px;left:-4px;}
*/
.mod_custom-akcni-nabidky .item .image .price span{ position: absolute; top: 19px; left: -9px; *top: -8px; *left: -1px; width: 80px; height: 16px; color: #fff; text-align: center; font-size: 13px; line-height: 16px; font-family: 'OfficinaSanItcTBold',sans-serif; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -0-transform: rotate(-45deg); transform: rotate(-45deg); -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')"; *filter: progid:DXImageTransform.Microsoft.Matrix(
         M11=0.7071067811865483,
         M12=0.7071067811865467,
         M21=-0.7071067811865467,
         M22=0.7071067811865483,
         SizingMethod='auto expand'); }
#ie8 .mod_custom-akcni-nabidky .item .image .price span,#ie9 .mod_custom-akcni-nabidky .item .image .price span{top:-8px;left:-1px;}
.mod_custom-akcni-nabidky .item h2{font-size:12px;padding:0;margin:0 0 2px 0;font-family:'OfficinaSanItcTBold',sans-serif;}
.mod_custom-akcni-nabidky .item p{font-size:11px;line-height:14px;margin:0 0 15px 0;}
.mod_custom-akcni-nabidky .item p a{color:#000;font-weight:bold;}
.mod_custom-akcni-nabidky .item .more{clear:both;text-align:left;padding:0;margin:0 0 15px 0;}
.mod_custom-akcni-nabidky .item .more a{ color:#000; }
.mod_custom-akcni-nabidky .item .more a:hover,.mod_custom-akcni-nabidky .item .more a:focus{background-position:right bottom;}
.mod_custom-hlasujte-vyhrajte{float:right;padding:17px 20px;width:180px;margin:0 0 20px 20px;background:#ffd477;}
.mod_custom-hlasujte-vyhrajte .mod-title{color:#6a281a;font-size:19px;line-height:22px;margin:0 0 15px;padding:0;font-family:'OfficinaSanItcTBold',sans-serif;}
.mod_custom-hlasujte-vyhrajte ol{margin:0 0 20px;padding:0;list-style-type:none;}
.mod_custom-hlasujte-vyhrajte ol li{margin:0 0 4px;padding:0;list-style-type:none;font-size:16px;line-height:19px;color:#4f5c4c;}
.mod_custom-hlasujte-vyhrajte .more a{ position:relative; display:block; text-decoration:none; height:28px; line-height:28px; padding:0 28px 0 14px; color:#fff; font-weight:bold; font-size:12px; text-align:left; text-transform:uppercase; background:#6b1301  url(../_img/btn/04.png) no-repeat 95% 50%; white-space:nowrap; font-family:Arial,Helvetica,sans-serif; border:0; }
.mod_custom-hlasujte-vyhrajte .more a:hover,.mod_custom-hlasujte-vyhrajte .more a:focus{background-color: #6a7b66;padding:0 28px 0 14px;}
.mod_custom-semifinalista{margin:0 -17px 20px -17px;padding:20px 17px 0 17px;background:#ffe5ad;}
.mod_custom-semifinalista h2{color:#6b291b;}
.mod_custom-semifinalista .items{*zoom:1;margin:0 0 0 -30px;}
.mod_custom-semifinalista .items:before,.mod_custom-semifinalista .items:after{display:table;content:"";}
.mod_custom-semifinalista .items:after{clear:both;}
.mod_custom-semifinalista .item{position:relative;float:left;width:226px;margin:0 0 25px 32px;_display:inline;}
.mod_custom-semifinalista .item .inner{position:relative;overflow:hidden;height:199px;width:220px;background:#6a7b66;border:3px solid #6a7b66;}
.mod_custom-semifinalista .item .image{height:165px;overflow:hidden;}
.mod_custom-semifinalista .item .nav a{display:block;padding:3px 22px 0 8px;height:31px;font-size:13px;line-height:31px;color:#fff;text-decoration:none;font-weight:bold;background:url(../_img/btn/04.png) no-repeat 200px 10px;}
.mod_custom-semifinalista .item .nav a:hover{background-color:#5c6b59;}
.mod_custom-semifinalista .item .overlay{position:absolute;display: block;text-decoration: none;top:0;left:-220px;width:168px;height:133px;overflow:hidden;padding:16px 36px 16px 16px;color:#fff;font-size:12px;line-height:16px;background:url(../_img/bg/14.png) repeat-y;background:rgba(0,0,0,0.7);}
.mod_custom-semifinalista .item .overlay p{font-size:12px;line-height:16px;}
.mod_custom-semifinalista .item .overlay .vote{font-weight:bold;color:#f6c207;}
.mod_custom-semifinalista .item .label{position:absolute;top:-2px;right:-2px;}
.mod_custom-soutezni-domy{margin:0 0 20px 0;padding:20px 0 0 0;}
.mod_custom-soutezni-domy h2{color:#6b291b;}
.mod_custom-soutezni-domy .items{*zoom:1;margin:0 0 0 -30px;}
.mod_custom-soutezni-domy .items:before,.mod_custom-soutezni-domy .items:after{display:table;content:"";}
.mod_custom-soutezni-domy .items:after{clear:both;}
.mod_custom-soutezni-domy .item{position:relative;float:left;width:220px;border:3px solid #6b1300;background:#6b1300;margin:0 0 25px 32px;_display:inline;}
.mod_custom-soutezni-domy .item .image{width:220px;height:165px;overflow:hidden;}
.mod_custom-soutezni-domy .item .nav a{display:block;height:40px;color:#fff;padding:13px 25px 0 12px;text-decoration:none;background:url(../_img/btn/04.png) no-repeat 197px 32px;}
.mod_custom-soutezni-domy .item a:hover{background-color:#954413;}
.mod_custom-detail-soutez{margin:20px -17px 40px -17px;background:#6a7b66;}
.mod_custom-detail-soutez .mod-header{position:relative;z-index:2;}
.mod_custom-detail-soutez .mod-header h2{color:#fff;margin:0;padding:18px 270px 18px 20px;}
.mod_custom-detail-soutez .mod-header .vote{position:absolute;right:22px;bottom:37px;height:0;overflow:visible;}
.mod_custom-detail-soutez .mod-header .vote a{display:block;padding:0 0 0 40px;width:200px;height:74px;line-height:74px;font-size:22px;color:#fff;text-decoration:none;text-transform:uppercase;font-family:'OfficinaSanItcTBold',sans-serif;background:#6b1301 url(../_img/btn/04.png) no-repeat 90% 50%;}
.mod_custom-detail-soutez .mod-tabs{position:relative;z-index:1;}
.mod_custom-detail-soutez ul.nav-mod-tabs{*zoom:1;margin:0;padding:7px 17px 0 17px;background:#62817c;}
.mod_custom-detail-soutez ul.nav-mod-tabs:before,.mod_custom-detail-soutez ul.nav-mod-tabs:after{display:table;content:"";}
.mod_custom-detail-soutez ul.nav-mod-tabs:after{clear:both;}
.mod_custom-detail-soutez ul.nav-mod-tabs li{float:left;margin:0;padding:0;background:none;}
.mod_custom-detail-soutez ul.nav-mod-tabs li a{display:block;height:54px;line-height:54px;padding:0 20px;white-space:nowrap;color:#fff;font-weight:bold;cursor:pointer;}
.mod_custom-detail-soutez ul.nav-mod-tabs li a:hover{background:#587671;}
.mod_custom-detail-soutez ul.nav-mod-tabs li a.current{background:#173c53;}
.mod_custom-detail-soutez .panes{position:absolute;top:100%;left:0;width:100%;}
.mod_custom-detail-soutez .panes .pane-content{position:relative;color:#fff;padding:50px 30px 30px 30px;margin:0 17px 20px 17px;height:424px;overflow:auto;background:url(../_img/bg/14.png) repeat-y;background:rgba(0,0,0,0.7);}
.mod_custom-detail-soutez .panes .pane-content a{color:#f6c207;}
.mod_custom-detail-soutez .mod-images{position:relative;}
.mod_custom-detail-soutez .image-panes{position:relative;width:778px;height:523px;overflow:hidden;}
.mod_custom-detail-soutez .image-panes .items{position:absolute;width:100000em;}
.mod_custom-detail-soutez .image-panes .image-pane{float:left;width:778px;height:523px;text-align:center;background:#173c53;}
.mod_custom-detail-soutez .mod-thumbnails ul{*zoom:1;margin:0;padding:0 29px;border-top:2px solid #2a3129;border-bottom:2px solid #2a3129;}
.mod_custom-detail-soutez .mod-thumbnails ul:before,.mod_custom-detail-soutez .mod-thumbnails ul:after{display:table;content:"";}
.mod_custom-detail-soutez .mod-thumbnails ul:after{clear:both;}
.mod_custom-detail-soutez .mod-thumbnails li{float:left;margin:0;padding:0;background:none;width:120px;height:79px;overflow:hidden;}
.mod_custom-detail-soutez .mod-thumbnails li a{cursor:pointer;}
.mod_custom-detail-soutez .mod-thumbnails li img{float:left;display:block;border-left:1px solid #2a3129;border-right:1px solid #2a3129;}
.mod_custom-detail-soutez .mod-thumbnails .jcarousel-container-horizontal{position:relative;height:79px;padding:0 27px;border-top:2px solid #2a3129;border-bottom:2px solid #2a3129;}
.mod_custom-detail-soutez .mod-thumbnails .jcarousel-clip{width:720px;height:79px;overflow:hidden;border-left:1px solid #2a3129;border-right:1px solid #2a3129;background:#404a3d;}
.mod_custom-detail-soutez .mod-thumbnails .jcarousel-clip ul{border:0;}
.mod_custom-detail-soutez .mod-thumbnails .jcarousel-prev,.mod_custom-detail-soutez .mod-thumbnails .jcarousel-next{position:absolute;top:24px;left:7px;width:12px;height:25px;background:url(../_img/arr/14.png) no-repeat;cursor:pointer;}
.mod_custom-detail-soutez .mod-thumbnails .jcarousel-next{left:auto;right:7px;background-position:right top;}
.mod_custom-detail-soutez .mod-thumbnails .jcarousel-prev-disabled,.mod_custom-detail-soutez .mod-thumbnails .jcarousel-next-disabled{opacity:0.3;-moz-opacity:0.3;filter:alpha(opacity=30);}
.mod_custom-detail-soutez .backward,.mod_custom-detail-soutez .forward{position:absolute;display:none;z-index:99;top:260px;left:0;width:60px;height:60px;background:url(../_img/arr/13.png) no-repeat;cursor:pointer;text-indent:-1000em;}
.mod_custom-detail-soutez .forward{left:auto;right:0;background-position:right top;}
.mod_custom-detail-soutez .backward:hover{background-position:left bottom;}
.mod_custom-detail-soutez .forward:hover{background-position:right bottom;}
.mod_custom-detail-soutez .image-panes:hover .backward,.mod_custom-detail-soutez .image-panes:hover .forward{display:block;}
.mod_custom-detail-soutez .image-panes .backward.disabled,.mod_custom-detail-soutez .image-panes .forward.disabled{display:none;}
.mod_custom-detail-soutez{scrollbar-face-color:#f6c207;scrollbar-highlight-color:#f6c207;scrollbar-3dlight-color:#f6c207;scrollbar-darkshadow-color:#f6c207;scrollbar-shadow-color:#f6c207;scrollbar-arrow-color:#f6c207;scrollbar-track-color:#173c53;}
.mod_custom-detail-soutez
::-webkit-scrollbar{width:15px;height:15px;}
.mod_custom-detail-soutez
::-webkit-scrollbar-button:start:decrement,
.mod_custom-detail-soutez
::-webkit-scrollbar-button:end:increment{height:0;display:block;overflow:hidden;background-color:none;}
.mod_custom-detail-soutez
::-webkit-scrollbar-button:horizontal:start:decrement,
.mod_custom-detail-soutez
::-webkit-scrollbar-button:horizontal:end:increment{height:0;display:block;overflow:hidden;background-color:none;}
.mod_custom-detail-soutez
::-webkit-scrollbar-track-piece{background-color:rgba(0,0,0,0.5);}
.mod_custom-detail-soutez
::-webkit-scrollbar-thumb:vertical,
.mod_custom-detail-soutez
::-webkit-scrollbar-thumb:horizontal{background-color:#f6c207;border:0;}
.mod_custom-akce-drevostavby,.mod_custom-aktualni-diskuze {color: #283825;margin: 0 0 20px 0;}
.mod_custom-akce-drevostavby.pull-left,.mod_custom-aktualni-diskuze.pull-left {float: left; width: 43.8%;}
.mod_custom-akce-drevostavby h2,.mod_custom-aktualni-diskuze h2{ border-bottom:2px solid #6b1300;}
.mod_custom-akce-drevostavby h2 span,.mod_custom-aktualni-diskuze h2 span{ display: inline-block; border-left:2px solid #6b1300; border-top:2px solid #6b1300; padding: 5px 0 2px 10px; font-size: 17px; color:#6b1300; text-transform: uppercase; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-akce-drevostavby ul,.mod_custom-aktualni-diskuze ul{padding: 12px 0;}
.mod_custom-akce-drevostavby ul{padding-left: 16px;padding-right: 16px;}
.mod_custom-akce-drevostavby ul{background: #fbc707;}
.mod_custom-akce-drevostavby ul li,.mod_custom-aktualni-diskuze ul li{margin: 5px 0;}
.mod_custom-akce-drevostavby ul li{margin-top: 9px;margin-bottom: 8px;}
.mod_custom-akce-drevostavby ul li a,.mod_custom-aktualni-diskuze ul li a{font-weight: bold;font-size: 13px;}
.mod_custom-akce-drevostavby ul li a{color: #283825;}
.mod_custom-akce-drevostavby .more a,.mod_custom-aktualni-diskuze .more a{display: inline-block;line-height: 30px;background: #6a7b66;text-transform: none;padding: 0 23px;color: #fff;font-size: 11px;font-weight: bold;text-decoration: none;}
.mod_custom-akce-drevostavby .more a{display: block;}
.mod_custom-akce-drevostavby .more a:hover,.mod_custom-aktualni-diskuze .more a:hover{text-decoration: underline;}
.mod_custom-prodej-drevoastavby,.mod_custom-prodej-roubenky{padding: 2px 2px 5px 2px;margin: 0 0 15px;text-align: center;background: #fbc707;font-size: 13px;font-weight: bold;}
.mod_custom-prodej-drevoastavby.pull-left,.mod_custom-prodej-roubenky.pull-left {float: left; width: 47.2%;}
.mod_custom-prodej-drevoastavby.pull-right,.mod_custom-prodej-roubenky.pull-right {float: right; width: 47.2%;}
.mod_custom-prodej-roubenky{color: #fff;background: #a44a13;}
.mod_custom-partners{margin: 0 0 10px;clear: both;}
.mod_custom-partners h2{ font-size: 17px; color: #283825; text-transform: uppercase;border-left: 2px solid #6a7b66;border-bottom: 2px solid #6a7b66; margin: 0 0 20px; font-family:'OfficinaSanItcTBold',sans-serif; }
.mod_custom-partners h2 span{display: inline-block;padding: 4px 0 4px 10px;border-top: 2px solid #6a7b66;}
.mod_custom-partners ul{text-align: center;margin: 0 -13px;}
.mod_custom-partners ul li{display: inline-block;height: 70px;line-height: 70px;margin: 0 10px 10px;}
.mod_custom-partners ul li img{max-height: 70px;width: auto!important;}
ul.nav-tabs{*zoom:1;margin:0 -20px;padding:20px 20px 0 20px;border-bottom:3px solid #6a7b66;}
ul.nav-tabs:before,ul.nav-tabs:after{display:table;content:"";}
ul.nav-tabs:after{clear:both;}
ul.nav-tabs li{margin:0 5px;padding:0;background:none;float:left;}
ul.nav-tabs li a{display:block;float:left;height:28px;line-height:28px;padding:3px 10px 0 10px;font-weight:bold;font-size:12px;text-decoration:none;white-space:nowrap;}
ul.nav-tabs li a:hover{background:#c3dbbc;color:#000;}
ul.nav-tabs li.act a{color:#fff;background:#6a7b66;}
ul.nav-sub-tabs{*zoom:1;margin:0 -20px;padding:0 20px 0 20px;background:#6a7b66;}
ul.nav-sub-tabs:before,ul.nav-sub-tabs:after{display:table;content:"";}
ul.nav-sub-tabs:after{clear:both;}
ul.nav-sub-tabs li{margin:0 5px;padding:0;background:none;float:left;}
ul.nav-sub-tabs li a{display:block;float:left;height:28px;line-height:28px;padding:3px 10px 0 10px;font-weight:bold;font-size:12px;color:#fff;text-decoration:none;border-bottom:5px solid #6a7b66;white-space:nowrap;}
ul.nav-sub-tabs li a:hover{color:#f6c207;}
ul.nav-sub-tabs li.act a{color:#ffe5ad;border-color:#6b1300;}
/* BOTTOM ARTICLES FIELD */
.bottomArticlesFieldSpacer{width:976px;margin:0px auto;height:20px;}
.bottomArticlesField{position:relative;width:976px;margin:0px auto 20px auto;padding:20px;-webkit-box-shadow:0 0 3px #c1b5ad;-moz-box-shadow:0 0 3px #c1b5ad;box-shadow:0 0 3px #c1b5ad;background:#fff;}
.bottomArticlesField a{color:#4f5c4c;}
.bottomArticlesColumn{float:left;width:448px;padding:20px;text-align:left;}
.bottomArticlesColumn p{margin:0 0 15px 0;}
.bottomArticlesColumn h2{font-size:16px;margin:0 0 15px 0;}
.bottomArticlesColumn h3{font-size:13px;margin:15px 0 5px 0;}
.bottomArticlesColumn ul{font-size:11px;padding:0px 0 20px 0px;color:#771c0b;}
.bottomArticlesColumn ul li{padding:3px 0 0 18px;background:url(../_img/arr/03.gif) no-repeat 0 3px;}
.bottomArticlesColumn ul li a{font-weight:bold;}
.bottomArticlesMenu{width:960px;text-align:center;padding:0 0 20px 0;}
.bottomArticlesMenu li{display:inline;color:#771c0b;font-weight:bold;}
.bottomArticlesMenu li a{margin:0 10px;}
.bottomArticlesCopy{width:960px;margin:0 auto;padding:10px 0 30px 0;font-size:11px;font-weight:bold;}
.bottomArticlesCopy a{color:#771c0b;}
/*aj patch*/
.bottomArticlesField a{font-weight:bold;color:#771c0b;}
.bottomArticlesField ol{font-size:11px;}
/* vyslo_v */
.vyslo_v { *zoom:1; margin: -20px -20px 20px -20px; background: #ffe5ad; position: relative; }
.vyslo_v:before,.vyslo_v:after{ display:table; content:""; }
.vyslo_v:after{ clear:both; }
.vyslo_v .picture { float: left; padding: 10px 15px; }
.vyslo_v .picture img { width: 60px; height: auto; border:2px solid #ffd477; }
.vyslo_v .vysel { font-weight: bold; font-size: 18px; padding-top: 10px; color:#6b1300; font-family: 'OfficinaSanItcTBold',sans-serif; }
.vyslo_v .vysel span a{ color:#283825; }
.vyslo_v .inner { width:463px; float:left; padding-top: 6px; }
.vyslo_v .vyzva { font-size:14px; color:#6b1300; margin: 0 0 10px; }
.vyslo_v .vyzva span { color:red; font-size:110%; font-weight: bold; }
/* slider-range */
.slider-range.ui-slider{display: block;position: relative;top:5px;width:214px;height: 9px;background: #d0d9ce;padding: 0;border: 1px solid #a6b1ba;border-bottom: 0;border-right: 0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
table .slider-range.ui-slider{margin-left: 20px;}
.slider-range.ui-slider input{display: none;}
.slider-range.ui-slider .ui-slider-range{position: absolute;left:0;bottom: 0;height: 9px;padding: 0;border-top: 1px solid #6c7b87;background: #fbc707;}
.slider-range.ui-slider .ui-slider-handle{display: block;position: absolute;bottom:0;width: 16px;height: 16px;margin-left: -8px;background: #6b1300;}
.slider-range.ui-slider .ui-slider-handle span{position: absolute;top:100%;border: 8px solid transparent;border-top-color: #6b1300;}
.slider-range.ui-slider .val{position: absolute;bottom:100%;left:0;width: 100%;padding: 0 0 7px;font-size: 11px;line-height: 1;color: #4f5c4c;text-align: center;}

@media screen and (min-width: 1046px) {
	.mod_mainmenu {
		position: relative;
		z-index: 999;
		margin: 0 0 17px;
		background: #ffd477;
		border-bottom: 2px solid #fbc707;
		border-top: 1px solid #d8ddd7;
	}
	.mod_mainmenu .toggle_menu {
		display: none;
	}
	.mod_mainmenu>ul {
		display: table;
		width: 100%;
	}
	.mod_mainmenu>ul>li {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.mod_mainmenu>ul>li.act {
		background: #ffe5ad;
	}
	.mod_mainmenu>ul>li>a, .mod_mainmenu>ul>li>span {
		position: relative;
		z-index: 1;
		text-transform: uppercase;
		text-decoration: none;
		color: #771c0b;
		display: block;
		padding: 16px 5px 14px;
	}
	.mod_mainmenu>ul>li>span {
		cursor: default;
	}
	.mod_mainmenu>ul>li.has-ul:hover>a:before, .mod_mainmenu>ul>li.has-ul:hover>span:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		border: 10px solid transparent;
		border-bottom: none;
		border-top-color: #ffd477;
		margin: 0 0 0 -10px;
	}
	.mod_mainmenu>ul>li.act.has-ul:hover>a:before, .mod_mainmenu>ul>li.act.has-ul:hover>span:before {
		border-top-color: #ffe5ad;
	}
	.mod_mainmenu>ul>li>a:after, .mod_mainmenu>ul>li>span:after {
		content: '';
		position: absolute;
		top: 75%;
		left: -1px;
		bottom: 0;
		width: 2px;
		background: #fbc707;
	}
	.mod_mainmenu>ul>li:first-child>a:after, .mod_mainmenu>ul>li:first-child>span:after {
		display: none;
	}
	.mod_mainmenu>ul>li>a:hover {
		text-decoration: underline;
	}
	.mod_mainmenu>ul>li>ul {
		position: absolute;
		max-height: 0;
		overflow: hidden;
		top: 100%;
		left: 0;
		right: 0;
		text-align: left;
		padding: 0 30px 0 10px;
		background: #fbc707;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
	.mod_mainmenu>ul>li>ul{
		*zoom:1;
	}
	.mod_mainmenu>ul>li>ul:before,.mod_mainmenu>ul>li>ul:after{
		display:table;
		content:"";
	}
	.mod_mainmenu>ul>li>ul:after{
		clear:both;
	}
	.mod_mainmenu>ul>li:hover>ul {
		display: block;
		padding-top: 15px;
		padding-bottom: 15px;
		max-height: 2000px;
		-webkit-transition: max-height 1.4s;
		transition: max-height 1.4s;
	}
	.mod_mainmenu>ul>li>ul>li {
		float: left;
		vertical-align: top;
		width: 25%;
		margin: 5px 0 5px 0;
		padding: 0 0 0 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.mod_mainmenu>ul>li>ul>li>a, .mod_mainmenu>ul>li>ul>li>span {
		font-family:'OfficinaSanItcTBold',sans-serif;
		display: inline-block;
		vertical-align: top;
		position: relative;
		font-weight: bold;
		color: #283825;
		text-transform: uppercase;
		padding: 0 0 0 16px;
		font-size: 16px;
		line-height: 1.2;
		text-decoration: none;
	}
	.mod_mainmenu>ul>li>ul>li>a:hover {
		text-decoration: underline;
	}
	.mod_mainmenu>ul>li>ul li.act>a {
		text-decoration: underline;
	}
	.mod_mainmenu>ul>li>ul>li>a:before, .mod_mainmenu>ul>li>ul>li>span:before {
		content: '';
		position: absolute;
		top: 3px;
		left: 0;
		width: 8px;
		height: 8px;
		background: #283825;
	}
	.mod_mainmenu>ul>li>ul>li>a:after, .mod_mainmenu>ul>li>ul>li>span:after {
		content: '';
		position: absolute;
		top: 11px;
		left: 0;
		border: 4px solid transparent;
		border-bottom: none;
		border-top: 4px solid #283825;
	}
	.mod_mainmenu>ul>li>ul>li>ul>li {
		position: relative;
		margin: 7px 0;
		padding: 0 0 0 16px;
	}
	.mod_mainmenu>ul>li>ul>li>ul>li:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		width: 4px;
		height: 4px;
		background: #6b1300;
	}
	.mod_mainmenu>ul>li>ul>li>ul>li>a {
		text-decoration: none;
	}
	.mod_mainmenu>ul>li>ul>li>ul>li>a:hover {
		text-decoration: underline;
	}
	.mod_mainmenu img {
		max-width: 100%;
		height: auto!important;
	}
	.mod_mainmenu .article {
		font-family:'OfficinaSanItcTBold',sans-serif;
		position: relative;
		display: inline-block;
		vertical-align: top;
		font-weight: bold;
		text-align: center;
		padding: 10px 0;
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
		background: #fbb607;
		margin: 0 0 0 -16px;
	}
	.mod_mainmenu .article img {
		display: block;
		margin: 10px 0;
	}
}
@media screen and (min-width: 0px) and (max-width: 1045px) {
	.mod_mainmenu {
		position: relative;
		z-index: 999;
		margin: 0 0 17px;
		background: #ffd477;
	}
	.mod_mainmenu .toggle_menu {
		position: relative;
		font-family: 'OfficinaSanItcTBold';
		display: block;
		font-weight:bold;
		width: 100%;
		border: 0;
		text-transform: uppercase;
		height: 46px;
		font-size: 30px;
		margin: 0;
		padding: 0 50px 0 0;
		color: #fff;
		background: #a44a13;
		border-bottom: 4px solid #771c0b;
		cursor: pointer;
		text-align: right;
		outline: 0;
	}
	.mod_mainmenu .toggle_menu:before {
		content: '';
		position: absolute;
		top: 9px;
		bottom: 9px;
		right: 10px;
		width: 32px;
		border-top: 4px solid #fff;
		border-bottom: 4px solid #fff;
	}
	.mod_mainmenu .toggle_menu:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 10px;
		height: 4px;
		width: 32px;
		margin: -2px 0 0;
		background: #fff;
	}
	.mod_mainmenu>ul {
		display: none;
	}
	body.menu-on .mod_mainmenu>ul {
		display: block;
	}
	.mod_mainmenu>ul>li {
		position: relative;
		border-bottom: 1px solid #771c0b;
	}
	.mod_mainmenu>ul>li>a, .mod_mainmenu>ul>li>span {
		font-family: 'OfficinaSanItcTBold';
		display: block;
		font-weight:bold;
		padding: 13px 56px 13px 16px;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		text-decoration: none;
	}
	.mod_mainmenu li.act>a, .mod_mainmenu li.act>span {
		text-decoration: underline;
	}
	.mod_mainmenu li>.caret {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 46px;
		background: rgba(0,0,0,0.15);
		cursor: pointer;
		border-left: 1px solid #a44a13;
	}
	.mod_mainmenu li.on>.caret {
		background: #a44a13;
	}
	.mod_mainmenu li>.caret:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -4px 0 0 -8px;
		border: 8px solid transparent;
		border-bottom-width: 10px;
		border-bottom-width: 10px;
		border-top-color: #771c0b;
	}
	.mod_mainmenu li.on>.caret:before {
		border-top-color: transparent;
		border-bottom-color: #fff;
		margin-top: -14px;
	}
	.mod_mainmenu>ul>li ul {
		display: none;
		margin: 0 46px 0 0;
	}
	.mod_mainmenu>ul li.on>ul {
		display: block;
	}
	.mod_mainmenu>ul>li>ul li {
		position: relative;
		background: rgba(255,255,255,0.3);
		border-top: 1px solid #771c0b;
	}
	.mod_mainmenu>ul>li>ul li>a, .mod_mainmenu>ul>li>ul li>span {
		display: block;
		text-decoration: none;
		font-size: 13px;
		line-height: 1.2;
		padding: 12px 50px 12px 26px;
	}
	.mod_mainmenu>ul>li>ul>li .caret {
		width: 40px;
	}
	.mod_mainmenu>ul>li>ul>li>ul {
		margin-right: 40px;
	}
	.mod_mainmenu>ul>li>ul>li>ul li>a, .mod_mainmenu>ul>li>ul>li>ul li>span {
		padding-left: 50px;
	}
	.mod_mainmenu .article {
		font-family: 'OfficinaSanItcTBold';
		display: block;
		font-weight:bold;
		text-transform: uppercase;
		text-align: center;
		font-size: 15px;
		padding: 10px;
	}
	.mod_mainmenu .article img {
		display: block;
		margin: 10px auto;
		max-width: 120px;
		height: auto!important;
	}
}
@media screen and (min-width: 769px) and (max-width: 1045px){
	div.page{
		width: 768px;
	}
	div.colCenter,div.container,div.colRight,div.colLeft,div.colCenter.expandRight div.container{
		width:auto;
		float: none;
	}
	.col6{
		width: auto;
		float: none;
	}
	.col3{
		width: 349px;
	}
	.mod_custom-hlasovani .link{
		width: 420px;
	}
	.module-frontpage .items{
		height: 243px;
		overflow: hidden;
	}
	.module-frontpage p.more{
		text-align: left;
	}
	.mod_banner-normal .mod-title{
		text-align: center;
	}
	.mod_custom-footer-menu .column{
		width: 164px;
	}
}
@media screen and (min-width: 0px) and (max-width: 768px){
	body{
		background: none!important;
	}
	div.page{
		width: 540px;
		padding: 0 10px;
	}
	div.colCenter,div.container,div.colRight,div.colLeft,div.colCenter.expandRight div.container,div.colCenter.expandLeft div.container{
		width:auto;
		float: none;
	}
	div.header1 .logo{
		width: 190px;
		height: 58px;
		margin: 0;
	}
	div.header1 .sruby{
		width: 200px;
		margin: 0;
	}
	div.header1 .slogan{
		clear: both;
		width: auto;
	}
	.mod_banners-top{
		margin: 8px 0;
	}
	.mod_banners-top .mod-title{
		display: none;
	}
	.mod_custom-footer-menu .column{
		width: 230px;
	}

	
	.subpageTop-katalog ul{
		width: auto;
		float: none;
	}
	.subpageTop-katalog ul li{
		display: block;
		border-top: 1px solid #6a7b66;
	}
	.subpageTop-katalog ul li a{
		display: block;
	}
	.xkatalog .subcat-tools .manipulation a{
		display: block;
		margin: 10px 0;
	}
	.xkatalog .listing form.normal.filter label{
		display: block;
	}
	.xkatalog .switch-view a{
		display: block;
		margin: 10px 0;
	}

	.mod_custom-akcni-nabidky,.mod_custom-akcni-nabidky.pull-right{
		width: auto;
		float: none;
		margin-left: 0;
	}

}